{% extends 'IbwJobMBundle::layout.html.twig' %}


{% form_theme form 'IbwJobMBundle:tools:form.html.twig' %}


{% block content %}
    {{ parent() }}


    <div class="bg-circle">
        <div class="container">
            <div class="row">
                <div class="col-xs-9 bag-color">
                    {{ form_start(form, {'method': 'POST', 'action': path('ibw_company_create')}) }}

                    <div class="tab-content">
                        <div class="col-xs-6">
                            {{ form_label(form.company_name) }}

                            {{ form_errors(form.company_name) }}
                            {{ form_widget(form.company_name, { 'attr': {'class': 'form-control form-group'} }) }}
                        </div>

                        <div class="col-xs-6">
                            {{ form_label(form.company_email) }}

                            {{ form_errors(form.company_email) }}
                            {{ form_widget(form.company_email, { 'attr': {'class': 'form-control form-group'} }) }}
                        </div>

                        <div class="col-xs-6">
                            {{ form_label(form.company_logo) }}

                            {{ form_errors(form.company_logo) }}
                            {{ form_widget(form.company_logo, { 'attr': {'class': 'form-control form-group'} }) }}
                        </div>

                        <div class="col-xs-6">
                            {{ form_label(form.company_country) }}

                            {{ form_errors(form.company_country) }}
                            {{ form_widget(form.company_country, { 'attr': {'class': 'form-control form-group'} }) }}
                        </div>

                        <div class="col-xs-6">
                            {{ form_label(form.company_city) }}

                            {{ form_errors(form.company_city) }}
                            {{ form_widget(form.company_city, { 'attr': {'class': 'form-control form-group'} }) }}
                        </div>

                        <div class="col-xs-6">
                            {{ form_label(form.foundation_year) }}

                            {{ form_errors(form.foundation_year) }}
                            {{ form_widget(form.foundation_year, { 'attr': {'class': 'form-control form-group'} }) }}
                        </div>

                        <div class="col-xs-6">
                            {{ form_label(form.company_description) }}

                            {{ form_errors(form.company_description) }}
                            {{ form_widget(form.company_description, { 'attr': {'class': 'form-control form-group'} }) }}
                        </div>

                        <div class="col-xs-6">
                            {{ form_label(form.number_of_employees) }}

                            {{ form_errors(form.number_of_employees) }}
                            {{ form_widget(form.number_of_employees, { 'attr': {'class': 'form-control form-group'} }) }}
                        </div>

                        <div class="col-xs-6">
                            {{ form_label(form.company_industry) }}

                            {{ form_errors(form.company_industry) }}
                            {{ form_widget(form.company_industry, { 'attr': {'class': 'form-control form-group'} }) }}
                        </div>

                        <div class="col-xs-6">
                            {{ form_label(form.company_street) }}

                            {{ form_errors(form.company_street) }}
                            {{ form_widget(form.company_street, { 'attr': {'class': 'form-control form-group'} }) }}
                        </div>

                        <div class="col-xs-6">
                            {{ form_label(form.company_street_number) }}

                            {{ form_errors(form.company_street_number) }}
                            {{ form_widget(form.company_street_number, { 'attr': {'class': 'form-control form-group'} }) }}
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="container" style="margin: 30px 0px 0px">
                        <div class="col-xs-11 text-right">
                            <button class="btn btn-black button-inactive"  type="submit"> {% trans %}Salvează CV{% endtrans %}</button>
                        </div>
                    </div>
                            {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

