{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}
<div class="company-color">
    <div class="container-fluid" style="padding-top: 50px;">
        <div class="col-xs-3"></div>
        <div class="col-xs-9 company-name">{{ entities.companyname }}</div>
        <div class="row">
            {#<div class="col-xs-12">#}
                <div class="col-xs-3">
                    {{ entities.companylogo }}
                    <img src="{{ asset('bundles/ibwjobm/images/adidas.png') }}"> <br/>
                    <button type="button" class="btn btn-black" style="margin-top: 20px"><i class="fa fa-envelope"></i>&nbsp;Trimite mesaj</button>
                </div>
                <div class="col-xs-9">
                    <div class="company-info"><b>Anul Fondarii:</b> {{ entities.foundationyear }}</div>
                        <div class="line"></div>
                    <div class="company-info"><b>Industria:</b>  {{ entities.companyindustry }}</div>
                        <div class="line"></div>
                    <div class="company-info"><b>Oras:</b> {{ entities.companycity }}</div>
                        <div class="line"></div>
                    <div class="company-info"><b>Numarul de lucratori:</b> {{ entities.numberofemployees }}</div>
                </div>
            {#</div>#}
        </div>
    </div>

    <div class="container">
        <h3>{% trans %}Descrierea companiei{% endtrans %}</h3>
        <div class="row">
            {{ entities.companydescription }}
        </div>
    </div>


    <div class="container">
        <h3>{% trans %}Joburi Vancante:{% endtrans %}</h3>
        <table width="100%" >
            {% for job in jobCollection %}
                <tr class="border-index">
                    <td>
                            <img src="{{ asset('bundles/ibwjobm/images/adidas.png') }}">
                    </td>


                    <td class="standard-jobs">
                        <h3><b>{{ job.positionrole }}</b></h3>
                        {{ job.companyname }}
                    </td>

                    <td class="standard-jobs">
                        <h3>{{ job.city }}</h3>
                    </td>

                    <td>
                        {% if job.jobtype == 'FULL-TIME' %}
                            <span class="full-time">{{ job.jobtype }}</span>
                        {% elseif job.jobtype == 'PART-TIME' %}
                            <span class="part-time">{{ job.jobtype }}</span>
                        {% else %}
                            <span class="freelance">{{ job.jobtype  }}</span>
                        {% endif %}
                        <br>
                        <small>{% trans with {'%date%': job.createdat|date('m/d/Y')} %}posted on %date%{% endtrans %}</small>
                    </td>

                    <td>
                        <div class="width-favorite-message pull-right">
                            <div class="header-position">
                                <div class="favorite"></div>
                                <div class="message"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}