{% extends 'IbwJobMBundle::layout.html.twig' %}


{% form_theme form 'IbwJobMBundle:tools:form.html.twig' %}


{% block content %}
    {{ parent() }}

    <!-- Modal -->
    {#<div class="modal fade" id="create-section" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
        {#<div class="modal-dialog">#}
            {#<div class="modal-content">#}
                {#<div class="modal-header">#}
                    {#<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Închide{% endtrans %}</span></button>#}
                    {#<label>{% trans %}Nume secțiune{% endtrans %}</label>#}
                {#</div>#}
                {#<div class="modal-body">#}

                    {#<input type="text" class="form-control" id="new">#}
                {#</div>#}
                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-black button-inactive" data-dismiss="modal">{% trans %}Anulează{% endtrans %}</button>#}
                    {#<button type="button" class="btn btn-black button-inactive" data-dismiss="modal"  onClick="addAnother()">{% trans %}Crează secțiune nouă{% endtrans %}</button>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="bg-circle">
        <div class="container">
            <div class="row">
                <div class="col-xs-9 bag-color">
                    <div class="row">
                        <h1 style="margin-left: 17px">{% trans %}Info{% endtrans %}</h1>
                        <div class="col-xs-6 col-md-4">
                            <ul class="nav nav-sidebar" id="sortable">
                                <li class="active"><a href="#Basicinformation" role="tab" data-toggle="tab"> {% trans %}Informații de bază{% endtrans %}</a>
                                    <span class="renameSection"></span>
                                </li>
                                {#<li><a href="#Positionrole" role="tab" data-toggle="tab">{% trans %}Functia{% endtrans %}</a>#}
                                    {#<span class="renameSection"></span>#}
                                {#</li>#}
                                {#<li><a href="#Mainaccountabilities" role="tab" data-toggle="tab">{% trans %}Responsabilități principale{% endtrans %}</a>#}
                                    {#<span class="renameSection"></span>#}
                                {#</li>#}
                                {#<li><a href="#Requirements" role="tab" data-toggle="tab">{% trans %}Cerințe{% endtrans %}</a>#}
                                    {#<span class="renameSection"></span>#}
                                {#</li>#}
                                {#<li><a href="#Companyoffer" role="tab" data-toggle="tab">{% trans %}Compania oferă{% endtrans %}</a>#}
                                    {#<span class="renameSection"></span>#}
                                {#</li>#}
                                {#<li><a href="#Contactsanddeadlines" role="tab" data-toggle="tab">{% trans %}Contacte și Termene{% endtrans %}</a>#}
                                    {#<span class="renameSection"></span>#}
                                {#</li>#}
                                {#<li><a href="#Competence" role="tab" data-toggle="tab">{% trans %}Referințe{% endtrans %}</a>#}
                                {#<span class="renameSection"></span>#}
                                {#</li>#}
                            </ul>
                            <button class="btn btn-default add-color " id="moreInputsJob" data-toggle="modal" data-target="#create-section">{% trans %}+ Adaugă secțiune nouă{% endtrans %}</button>
                        </div>
                        <div class="col-xs-8">
                            {{ form_start(form, {'method': 'POST', 'action': path('profile_candidate_add_info')}) }}

                            <div class="tab-content">
                                <div class="tab-pane active" id="Basicinformation">
                                    <h1> {% trans %}Informații de bază{% endtrans %}</h1>
                                    <div class="col-xs-6">
                                        {{ form_label(form.candidate_name) }}

                                        {{ form_errors(form.candidate_name) }}
                                        {{ form_widget(form.candidate_name, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.candidate_city,'Alegeți orașul') }}

                                        {{ form_errors(form.candidate_city) }}
                                        {{ form_widget(form.candidate_city, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.candidate_country) }}

                                        {{ form_errors(form.candidate_country) }}
                                        {{ form_widget(form.candidate_country, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.candidate_email) }}

                                        {{ form_errors(form.candidate_email) }}
                                        {{ form_widget(form.candidate_email, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.candidate_year_of_birth) }}

                                        {{ form_errors(form.candidate_year_of_birth) }}
                                        {{ form_widget(form.candidate_year_of_birth, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.candidate_description) }}

                                        {{ form_errors(form.candidate_description) }}
                                        {{ form_widget(form.candidate_description, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.candidate_street) }}

                                        {{ form_errors(form.candidate_street) }}
                                        {{ form_widget(form.candidate_street, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.candidate_gender) }}

                                        {{ form_errors(form.candidate_gender) }}
                                        {{ form_widget(form.candidate_gender, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.candidate_language_spoken) }}

                                        {{ form_errors(form.candidate_language_spoken) }}
                                        {{ form_widget(form.candidate_language_spoken, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.candidate_street_number) }}

                                        {{ form_errors(form.candidate_street_number) }}
                                        {{ form_widget(form.candidate_street_number, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>
                                    <div class="clearfix"></div>


                                    <hr>
                                    {#<img class="sizeImg pull-left" src="{{ asset('bundles/ibwjobm/images/photo.png') }}"  />#}
                                    <img class="sizeImg pull-left" id="myImgJob" src=""/>

                                    <div class="col-xs-6">
                                        <div class="label-file">
                                            {{ form_label(form.file) }}
                                        </div>
                                        {{ form_errors(form.file) }}
                                        <span class="btn btn-default btn-file btn btn-black button-inactive">
                                        {% trans %} Alege foto {% endtrans %}  {{ form_widget(form.file) }}
                                    </span>

                                        <button type="button" class="btn btn-default btn btn-black button-inactive" id="removebtnjob" onclick="removeImgJob()"  style="display: none">Remove</button>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin: 30px 0 0">
            <div class="col-xs-11 text-right">
                <button class="btn btn-black button-inactive"  type="submit"> {% trans %}Salvează Informatia{% endtrans %}</button>
                {#<button class="btn btn-black button-inactive" type="button"  id="addDateInModal" data-toggle="modal" data-target="#quickPreview" style="margin: 10px 0px;">{% trans %}Previzualizare{% endtrans %}</button>#}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

