{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}
    {{ parent() }}

    <div class="bg-circle" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <div class="col-xs-9 bag-color">
                    <div class="row">
                        <h1 style="margin-left: 17px">{% trans %}Info{% endtrans %}</h1>
                        <div class="col-xs-6 col-md-4">
                            <ul class="nav nav-sidebar" id="sortable">
                                <li class="active"><a href="#Basicinformation" role="tab" data-toggle="tab"> {% trans %}Informații de bază{% endtrans %}</a>
                                    <span class="renameSection"></span>
                                </li>
                            </ul>
                            <button class="btn btn-default add-color " id="moreInputsJob" data-toggle="modal" data-target="#create-section">{% trans %}+ Adaugă secțiune nouă{% endtrans %}</button>
                        </div>
                        <div class="col-xs-8">
                            {{ form_start(edit_form, {'method': 'POST', 'action': path('profile_candidate_update')}) }}
                            {#<form action="{{ path('profile_candidate_update') }}" method="post" {{ form_enctype(edit_form) }}>#}

                            <div class="tab-content">
                                <div class="tab-pane active" id="Basicinformation">
                                    <h1> {% trans %}Informații de bază{% endtrans %}</h1>
                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.candidate_name) }}

                                        {{ form_errors(edit_form.candidate_name) }}
                                        {{ form_widget(edit_form.candidate_name, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.candidate_city,'Alegeți orașul') }}

                                        {{ form_errors(edit_form.candidate_city) }}
                                        {{ form_widget(edit_form.candidate_city, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.candidate_country) }}

                                        {{ form_errors(edit_form.candidate_country) }}
                                        {{ form_widget(edit_form.candidate_country, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.candidate_email) }}

                                        {{ form_errors(edit_form.candidate_email) }}
                                        {{ form_widget(edit_form.candidate_email, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.candidate_year_of_birth) }}

                                        {{ form_errors(edit_form.candidate_year_of_birth) }}
                                        {{ form_widget(edit_form.candidate_year_of_birth, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.candidate_description) }}

                                        {{ form_errors(edit_form.candidate_description) }}
                                        {{ form_widget(edit_form.candidate_description, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.candidate_street) }}

                                        {{ form_errors(edit_form.candidate_street) }}
                                        {{ form_widget(edit_form.candidate_street, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.candidate_gender) }}

                                        {{ form_errors(edit_form.candidate_gender) }}
                                        {{ form_widget(edit_form.candidate_gender, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.candidate_language_spoken) }}

                                        {{ form_errors(edit_form.candidate_language_spoken) }}
                                        {{ form_widget(edit_form.candidate_language_spoken, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.candidate_street_number) }}

                                        {{ form_errors(edit_form.candidate_street_number) }}
                                        {{ form_widget(edit_form.candidate_street_number, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>
                                    <div class="clearfix"></div>


                                    <hr>
                                    {#<img class="sizeImg pull-left" src="{{ asset('bundles/ibwjobm/images/photo.png') }}"  />#}
                                    <img class="sizeImg pull-left" id="myImgJob" src=""/>

                                    <div class="col-xs-6">
                                        <div class="label-file">
                                            {{ form_label(edit_form.file) }}
                                        </div>
                                        {{ form_errors(edit_form.file) }}
                                        <span class="btn btn-default btn-file btn btn-black button-inactive">
                                        {% trans %} Alege foto {% endtrans %}  {{ form_widget(edit_form.file) }}
                                    </span>

                                        <button type="button" class="btn btn-default btn btn-black button-inactive" id="removebtnjob" onclick="removeImgJob()"  style="display: none">Remove</button>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin: 30px 0 0">
            <div class="col-xs-11 text-right">
                <button class="btn btn-black button-inactive"  type="submit"> {% trans %}Salvează Informatia{% endtrans %}</button>
                {#<button class="btn btn-black button-inactive" type="button"  id="addDateInModal" data-toggle="modal" data-target="#quickPreview" style="margin: 10px 0px;">{% trans %}Previzualizare{% endtrans %}</button>#}
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>

{% endblock %}

