{% extends 'IbwJobMBundle::layout.html.twig' %}


{% block content %}
    {#{% for company in companies %}#}
        {#<div>#}
            {#<table class="table table-striped">#}
                {#<tr><td>{{ company.companyname }}</td></tr>#}
            {#</table>#}
        {#</div>#}
    {#{% endfor %}#}
   {{ app.user.username }}
{% endblock %}
