{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}
    <nav class="navbar navbar-default navbar-main" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn-green" data-toggle="dropdown">Registration <b class="caret"></b></a>
                        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('account_register') }}">Candidate</a></li>

                        </ul>
                    <li><a href="#" class="btn-green" data-toggle="modal" data-target="#singUp">Sign Up</a></li>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn-green" data-toggle="dropdown">English <b class="caret"></b></a>
                        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                        <ul class="dropdown-menu">
                            <li><a href="#">English</a></li>
                            <li><a href="#">Rusian</a></li>
                            <li><a href="#">Roman</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <nav class="navbar navbar-default navbar-cabinet" role="navigation">
            <div class="container-fluid">
                <div class="container">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="{{ path ('profile') }}">My Page</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle btn-light" data-toggle="dropdown">Search <b class="caret"></b></a>
                            <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('ibw_advanced_job_search') }}">Vacance</a></li>
                                <li><a href="{{ path('ibw_advanced_cv_search') }}">Resume</a></li>
                                {#<li><a href="#">Favorites</a></li>#}
                            </ul>
                        </li>
                        <li><a href="{{ path ('ibw_cv_all') }}" class="dropdown-toggle btn-light"> CV</a></li>
                        <li><a href="{{ path ('ibw_jobs_all') }}" class="dropdown-toggle btn-light"> JOBS</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle btn-light" data-toggle="dropdown">Create<b class="caret"></b></a>
                            <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('ibw_job_new') }}">Post a Job</a></li>
                                <li><a href="{{ path('ibw_cv_new') }}">Post a CV</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="btn-light" data-toggle="modal" data-target="#Modal-FAQ">Messages</a></li>
                        <li><a href="#" class="btn-light" data-toggle="modal" data-target="#Modal-FAQ">FAQ</a></li>
                    </ul>


                </div>
            </div>
        </nav>
    </nav>

     {% if  app.user.username == null  %}

         <h1> {{ app.user.companyname }}</h1>
     {% else %}
          <h1> {{ app.user.username }}</h1>

     {% endif %}
    {{ app.user.id }}


{% endblock %}


