{% extends 'IbwJobMBundle::layout.html.twig' %}


{% block content %}
{% for user in candidates %}
<div class="background-index">
    <div class="container-fluid top-pannel">
        <div class="container">
            <div class="row row-form-search">
                {#<form action="{{ path('profile_candidate_update') }}" method="post" {{ form_enctype(edit_form) }}>#}
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                        <div class="candidate-photo">
                            {#<img src="{{ asset('bundles/ibwjobm/images/jobs.jpg') }}" >#}
                        </div>
                        <h2>{{ user.candidatename }}</h2>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <p>{% trans %}Telephone:{% endtrans %} <span>123</span> </p>
                        <p>GSM: <span>321</span> </p>
                        <p>E-mail: <span>{{ user.candidateemail }}</span> </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h2>{% trans %}About me{% endtrans %}</h2>
                        {#<h3>{{ user.abilities }}</h3>#}
                        <p>{% trans %}Region:{% endtrans %} <span>MD</span></p>
                    </div>
                {#</form>#}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="panel-group search_vacancy" id="accordion">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"class="collapsed-off">
                                About me:
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h3>Lead designer designer</h3>
			                <span>with 04.2012-present. (2 years 2 months)Krivorozhskaya Furniture Factory (Furniture industry)</span>

                            <p>Design and development of a new lineup, design, manufacture of case furniture, technical documentation, production control. Organization and control of the design department. </p>

                            <h3>3D for interior designer, designer cabinet furniture, designer advertising.</h3>
			                <span>from 10.2006 to 11.2011 (5 years 1 month)
                            MD Versailles (from 50 to 100 employees; Architectural and Design Bureau (Interior Design. Design, project, manufacture of furniture. Outdoor advertising.))</span>

                            <p>Interior Design. Work with the client. Design, project, manufacturing of furniture.Receiving orders for the production of furniture. Control of production. Advertising design company.</p>
                            <p> Responsibilities and personal achievements - Head of design department. Distribution and control of subordinates. Taking orders, consultation and work with the customer. Interior Design. Furniture design, design, preparation of technical documentation for the manufacture of furniture. Production control in manufacturing furniture. Registered patent intellectual property in the field of new technologies for production of furniture.</p>

                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"class="collapsed-off">
                                Professional background:
                            </a>
                        </h4>

                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body vacancy">
                            <h3>Higher</h3>
			                <span>from 09.1995 to 08.2000 Krivoy Rog State Pedagogical University, graphic art department. Faculty of Arts., Teacher, Krivoy Rog.</span>

                            <p>Teacher of Fine Arts (drawing, painting, sculpture, PDI, drawing) Proceedings, a tutorial on drawing for students and junior classes prepodavaterey.</p>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"class="collapsed-off">
                                Qualifications & Skills
                            </a>
                        </h4>

                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body vacancy">
                            <h3>Computer skills, software</h3>
                            <ul>
                                <li>Draw freehand</li>
                                <li>3dsMax</li>
                                <li>Photoshop</li>
                                <li>CorelDRAW</li>
                                <li>Basis Furniturer</li>
                                <li>PRO100</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<a href="{{ path('profile_candidate_edit') }}">Edit</a>
{% endblock %}


