{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}

    <div class="container">
        {% for entity in jobs %}
            <h1>The Job</h1>
            <div class="row row-vacancy">

                <div class="company_name col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <span>{{ entity.city }}</span>
                </div>

                <div class="company_region col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <a href="{{ path('ibw_job_show', { 'id': entity.id, 'company': entity.company, 'city': entity.city, 'position': entity.position }) }}">
                        <span>{{ entity.position }}</span>
                    </a>
                </div>

                <div class="company_name col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="{{ path('ibw_company_show', {'id': entity.id, 'company': entity.company}) }}"><span>{{ entity.company }}</span></a>
                </div>

            </div>
        {% endfor %}


        {% for entity in cv %}
            <h1>The Resume</h1>
            <div class="row row-vacancy">

                {#<div class="company_logo col-xs-2 col-sm-2 col-md-2 col-lg-2">#}
                {#<img src="{{ asset('bundles/ibwjobm/images/jobmatch-start.jpg') }}" class="img-circle">#}
                {#</div>#}

                <div class="company_name col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <span>{{ entity.city }}</span>
                </div>

                {#<div class="company_region col-xs-2 col-sm-2 col-md-2 col-lg-2">#}
                    {#<a href="{{ path('ibw_cv_show', { 'id': entity.id, 'category': entity.category, 'city': entity.city, 'name': entity.name }) }}">#}
                        {#<span>{{ entity.category }}</span>#}
                    {#</a>#}
                {#</div>#}

                <div class="company_name col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="{{ path ('ibw_user',{'id': entity.id}) }}"> <span>{{ entity.name }}</span></a>
                </div>

                {#<div class="company_region col-xs-2 col-sm-2 col-md-2 col-lg-2">#}
                    {#<span>{{ entity.abilities }}</span>#}
                {#</div>#}
            </div>
        {% endfor %}

        {#{% if keyword == false %}#}
            {#<p>No results twig</p>#}
        {#{% endif %}#}

    </div>

{% endblock %}