body {
    font-family: "Calibri";
    color: #2D3E50;
}

.min-width {
    width: 1180px;
}

.display-none {
    display: none;
}

/****************
**** Buttons ****
*****************/
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
}

.btn a {
    text-decoration: none;
    color: #ffffff;
}

.btn-black {
    color: #fff;
    background-color: #2D3E50;
    /*border-color: #357ebd;*/
    outline: 0;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
    color: #fff;
    background-color: #F27269;
    /*border-color: #285e8e;*/
}

.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
    background-image: none;
}

.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
    background-color: #2D3E50;
    /*border-color: #357ebd;*/
}

.btn-black .badge {
    color: #2D3E50;
    background-color: #fff;
}

.btn-submit {
    color: #fff;
    background-color: #F27269;
    /*border-color: #357ebd;*/
    outline: 0;
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active,
.btn-submit.active {
    color: #fff;
    background-color: #b7564f;
}

.btn-submit:active,
.btn-submit.active {
    background-image: none;
}

.btn-submit.disabled,
.btn-submit.disabled:hover,
.btn-submit.disabled:focus,
.btn-submit.disabled:active,
.btn-submit.disabled.active {
    background-color: #b7564f;
    /*border-color: #357ebd;*/
}

/**************
****Header****
***************/
.header-background {
    background: rgb(231, 232, 234);
    background: -moz-linear-gradient(270deg, rgb(231, 232, 234) 30%, rgb(251, 251, 251) 70%);
    background: -webkit-linear-gradient(270deg, rgb(231, 232, 234) 30%, rgb(251, 251, 251) 70%);
    background: -o-linear-gradient(270deg, rgb(231, 232, 234) 30%, rgb(251, 251, 251) 70%);
    background: -ms-linear-gradient(270deg, rgb(231, 232, 234) 30%, rgb(251, 251, 251) 70%);
    background: linear-gradient(0deg, rgb(231, 232, 234) 30%, rgb(251, 251, 251) 70%);
    padding: 10px 20px;
    min-width: 1200px;
}

.logo-block {
    width: 150px;
    float: left;
    margin-right: 20px;
}

.header-position {
    margin-top: 26px;
}

.width-block-buttons {
    width: 254px;
    float: left;
    margin-right: 15px;
}

.width-block-buttons a {
    text-decoration: none;
}

.header-position button {
    width: 110px;
    margin-right: 15px;
    font-weight: bold;
}

.button-active {
    background-color: #F27269;
}

.header-position button img {
    width: 15px;
    margin-top: -1px;
}

.width-favorite-message {
    width: 130px;
    float: left;
    margin: 0 15px;
}

.favorite,
.message {
    float: left;
    cursor: pointer;
}

.favorite img {
    width: 53px;
    margin-top: -9px;
}

.favorite {
    background-image: url('/bundles/ibwjobm/images/portfeli.png');
    width: 53px;
    margin-top: -10px;
    height: 44px;
    background-size: cover;
}

.favorite:hover {
    background-image: url('/bundles/ibwjobm/images/portfeli-active.png');
    width: 53px;
    margin-top: -10px;
    height: 44px;
    background-size: cover;
}

.message {
    background-image: url('/bundles/ibwjobm/images/message.png');
    width: 51px;
    margin-top: -2px;
    height: 36px;
    background-size: cover;
}

.trash {
    background-image: url('/bundles/ibwjobm/images/trash-icon.png');
    width: 33px;
    margin-top: -2px;
    height: 36px;
    margin-left: 90px;
    margin-bottom: -30px;
    background-size: cover;
}


.message:hover {
    background-image: url('/bundles/ibwjobm/images/message-active.png');
    width: 51px;
    margin-top: -2px;
    height: 36px;
    background-size: cover;
}

.message {
    margin-left: 20px;
}

.message img {
    width: 51px;
}

.width-home-map {
    width: 240px;
    float: left;
    margin: 0 20px;
}

.fonts-icon-home {
    margin-top: -5px;
    float: left;
}

.fonts-icon-home a {
    text-decoration: none;
    color: #2D3E50;
}

.size-home {
    font-size: 47px;
}

.fonts-text-home-my {
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;
}

.header-position .fonts-icon-map {
    margin-left: 20px;
    float: left;
}

.size-map {
    font-size: 39px;
}

.size-plus {
    color: #F27269;
}

.dropdown-menu > li > a {
    color: #000000;
}

.register a,
.language-width a {
    text-decoration: none;
    color: #2D3E50;
}

.register a:hover,
.language-width a:hover {
    color: #547495;
}

.register {
    float: left;
    margin: 40px 10px 0 40px;
    font-weight: bold;
}

.language-width {
    width: 80px;
    float: right;
    margin: 40px 20px 0 10px;
    font-weight: bold;
}

.language-width .dropdown-menu {
    left: -200%;
}

.categories {
    width: 130px;
    float: left;
    margin: 10px 5px 10px 20px;
}

.categories .dropdown a {
    color: #2D3E50;
    font-size: 20px;
    outline: none;
    text-decoration: none;
}

.block-search {
    background-color: #2D3E50;
    padding: 20px 20px 0;
    border-radius: 10px 10px 0 0;
    width: 960px;
}

#advaced-search {
    margin-bottom: 0;
}

.button-open-advanced-search {
    position: absolute;
    margin: 20px 5px;
}

a.button-open-advanced-search {
    color: #ffffff;
}

.block-search .panel-default {
    border: none;
    background: none;
    box-shadow: none;
}

.block-search .panel-default .in .panel-body {
    padding-top: 0;
}

.search-keyword {
    width: 240px;
    float: left;
}

.search-keyword ::-webkit-input-placeholder::before {
    font-family: fontAwesome;
    content: '\f002  ';
    color: #2D3E50;
}

.search-keyword ::-moz-placeholder::before {
    font-family: fontAwesome;
    content: '\f002  ';
    color: #2D3E50;
}

/* firefox 19+ */
.search-keyword :-ms-input-placeholder::before {
    font-family: fontAwesome;
    content: '\f002  ';
    color: #2D3E50;
}

/* ie */
.search-keyword input:-moz-placeholder::before {
    font-family: fontAwesome;
    content: '\f002  ';
    color: #2D3E50
}

.search-in,
.search-industry{
    width: 185px;
    float: left;
    margin: 0 10px;
}

.search-location {
    width: 185px;
    float: left;
}

.block-search .dropdown-menu > .active > a,
.block-search .dropdown-menu > .active > a:hover,
.block-search .dropdown-menu > .active > a:focus {
    background-color: #2D3E50;
}

.button-search {
    float: left;
}

/********************
***** Home Page *****
********************/
.title-vacancies {
    color: #F27269;
}

.block-vacancy {
    border: 1px solid #cccccc;
    width: 200px;
    float: left;
    margin-right: 20px;
    padding: 10px;
}

.position-logo-company-vacancy {
    width: 110px;
    margin: auto;
}
.title-vacancy {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
}

.block-vacancy li {
    color: #A6A6A6;
}

.button-send-cv {
    width: 100%;
}
/**************
****Sing in****
***************/
.position-alert-errors-form {
    position: absolute;
    top: 180px;
    width: 350px;
}

.error_list {
    list-style-type: upper-hexadecimal;
}

/*.content-background {*/
    /*background: rgb(232, 233, 235);*/
    /*background: -moz-linear-gradient(270deg, rgb(232, 233, 235) 0%, rgb(247, 249, 248) 100%);*/
    /*background: -webkit-linear-gradient(270deg, rgb(232, 233, 235) 0%, rgb(247, 249, 248) 100%);*/
    /*background: -o-linear-gradient(270deg, rgb(232, 233, 235) 0%, rgb(247, 249, 248) 100%);*/
    /*background: -ms-linear-gradient(270deg, rgb(232, 233, 235) 0%, rgb(247, 249, 248) 100%);*/
    /*background: linear-gradient(0deg, rgb(232, 233, 235) 0%, rgb(247, 249, 248) 100%);*/
    /*min-height: 700px;*/
/*}*/

.width-block-login {
    width: 350px;
    margin: 100px auto;
}

.width-block-login input#email,
.width-block-login input#password,
.width-block-login label,
.width-block-login label,
.width-block-login input#registration_username,
.width-block-login input#registration_company_name,
.width-block-login input#registration_email,
.width-block-login input#registration_password_password,
.width-block-login input#registration_password_confirm {
    font-size: 17px;
    height: 40px;
}

.width-block-login label {
    width: 140px;
    margin-bottom: 20px;
}

.width-block-login label#candidate-button {
    float: right;
}

.width-block-login input[type="radio"]:checked + label {
    background-color: #F27269;
}

.has-feedback .form-control-feedback {
    top: 4px;
    font-size: 25px;
    color: #D2D3D5;
    right: 5px;
}

a.color-forgot-link{
    color: #2D3E50;
}

.remember {
    margin: 10px 0;
}
.remember label {
    cursor: pointer;
}

.submit-button-singIn {
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
}

/*****************
******* CV *******
******************/
.nav>li.active>a {
    background: #2D3E50;
    border-radius: 4px;
}



.nav > li > a {
    color: #2D3E50
}

.distance {
    margin: 20px 0 50px 0;
}

.bag-color {
    background-color: #ffffff;
    padding: 15px 20px 15px 15px;
    border: 1px black solid;
}

#sortable > li,
#sortable .form-control,
#sortable .form-group {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(0%, #ededed), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #ededed 0%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #ededed 0%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #ededed 0%, #ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
}

/*input .form-control,*/
/*input .form-group {*/
    /*background: #ffffff; *//* Old browsers */
    /*background: -moz-linear-gradient(top, #ffffff 0%, #ededed 0%, #ffffff 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(0%, #ededed), color-stop(100%, #ffffff)); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 0%, #ffffff 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, #ffffff 0%, #ededed 0%, #ffffff 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, #ffffff 0%, #ededed 0%, #ffffff 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom, #ffffff 0%, #ededed 0%, #ffffff 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0); *//* IE6-9 */
/*}*/


.form-control:focus, .form-group:focus {
    background: #ffffff;
}

.modal-content {
    background: rgb(230, 231, 233); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(230, 231, 233, 1) 0%, rgba(248, 248, 248, 1) 24%, rgba(230, 231, 233, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(230, 231, 233, 1)), color-stop(24%, rgba(248, 248, 248, 1)), color-stop(100%, rgba(230, 231, 233, 1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(230, 231, 233, 1) 0%, rgba(248, 248, 248, 1) 24%, rgba(230, 231, 233, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(230, 231, 233, 1) 0%, rgba(248, 248, 248, 1) 24%, rgba(230, 231, 233, 1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(230, 231, 233, 1) 0%, rgba(248, 248, 248, 1) 24%, rgba(230, 231, 233, 1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(230, 231, 233, 1) 0%, rgba(248, 248, 248, 1) 24%, rgba(230, 231, 233, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e7e9', endColorstr='#e6e7e9', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.add-color {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(0%, #ededed), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #ededed 0%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #ededed 0%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #ededed 0%, #ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */

    border-radius: 31px;
}

.dist {
    margin: 0 280px 0 0;
}

.bg-circle {
    padding-top: 100px;
    background: rgb(230, 231, 233); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(230, 231, 233, 1) 0%, rgba(248, 248, 248, 1) 24%, rgba(230, 231, 233, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(230, 231, 233, 1)), color-stop(24%, rgba(248, 248, 248, 1)), color-stop(100%, rgba(230, 231, 233, 1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(230, 231, 233, 1) 0%, rgba(248, 248, 248, 1) 24%, rgba(230, 231, 233, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(230, 231, 233, 1) 0%, rgba(248, 248, 248, 1) 24%, rgba(230, 231, 233, 1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(230, 231, 233, 1) 0%, rgba(248, 248, 248, 1) 24%, rgba(230, 231, 233, 1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(230, 231, 233, 1) 0%, rgba(248, 248, 248, 1) 24%, rgba(230, 231, 233, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e7e9', endColorstr='#e6e7e9', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

#bg-color-2 {
    background: #f4f6f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f4f6f5 0%, #e6e7eb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f6f5), color-stop(100%, #e6e7eb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f6f5 0%, #e6e7eb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f6f5 0%, #e6e7eb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f6f5 0%, #e6e7eb 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f4f6f5 0%, #e6e7eb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f6f5', endColorstr='#e6e7eb', GradientType=0); /* IE6-9 */
}

.basic-info {
    padding: 0 0 0 140px;
}

.sizeImg {
    width: 120px;
    height: 120px;
    border: 1px solid #C1C3C5;
}

.information {
    font-size: 10px;
}

/*.img-background {*/
    /*background: url('/bundles/ibwjobm/images/slider1.png') #C0AEA5 no-repeat;*/
    /*height: 350px;*/
    /*background-position: center;*/
/*}*/

/*.img-background .container h1 {*/
    /*padding: 60px 0 0 50px;*/
    /*font-weight: bold;*/
    /*color: #5D5B5C;*/
/*}*/

/*.social-button {*/
    /*margin-top: 30px;*/
/*}*/

.button-center {
    margin-top: 25px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#removebtn {
    margin-top: -34px;
    margin-left: 185px;
}

.vc-arrow-up {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #EEF0EF;
    height: 58px;
    width: 42px;
    /*margin-left: 569px;*/
    /*margin-top: -68px;*/
    margin: auto;
}

.footer {
    height: 50px;
    background-color: #EEF0EF;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.copyright {
    text-align: center;
    padding-top: 20px;
}

#create-cv .modal-header label,
#create-section .modal-header label,
#show-create-cv .modal-header label{
    font-size: 25px;
}
.size-text-index{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin-top:42px;
}
.uppercase-text-index{
    text-transform:uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.select-language{
    font-size: 20px;
}

/*****************
******* CV *******
******************/
.nav > li.active > a {
    background: #2D3E50;
    border-radius: 4px;
    color: #fff;
}

.nav > li > a:hover {
    background-color: #2D3E50;
    border-radius: 4px;
    color: #fff;
}

.nav > li > a {
    color: #2D3E50
}

.full-time {
    background:#389E3E;
    color: #fff;
    padding: 1px 10px;
    border-radius: 10px;
}
.part-time {
    background:#F27269;
    color: #fff;
    padding: 1px 10px;
    border-radius: 10px;
}
.freelance {
    background:#D9D900;
    color: #fff;
    padding: 1px 10px;
    border-radius: 10px;
}
.standard-jobs{
    color: #F27269;
}
.border-index{
    border-bottom: 1px solid #BBBBBB;
}
.background-index{
    background: rgb(230, 231, 233);
    background: -moz-linear-gradient(272deg, rgb(230, 231, 233) 0%, rgb(253, 253, 253) 100%);
    background: -webkit-linear-gradient(272deg, rgb(230, 231, 233) 0%, rgb(253, 253, 253) 100%);
    background: -o-linear-gradient(272deg, rgb(230, 231, 233) 0%, rgb(253, 253, 253) 100%);
    background: -ms-linear-gradient(272deg, rgb(230, 231, 233) 0%, rgb(253, 253, 253) 100%);
    background: linear-gradient(2deg, rgb(230, 231, 233) 0%, rgb(253, 253, 253) 100%);
}

.line{
    width: 178px;
    height: 1px;
    background: #BBBBBB;
}
.company-info{
    font-size: 20px;
}
.company-name{
    font-size: 40px;
    color :#F27269 ;
}
.company-color{
    background: rgb(253, 253, 253);
    background: -moz-linear-gradient(91deg, rgb(253, 253, 253) 3%, rgb(230, 231, 233) 82%);
    background: -webkit-linear-gradient(91deg, rgb(253, 253, 253) 3%, rgb(230, 231, 233) 82%);
    background: -o-linear-gradient(91deg, rgb(253, 253, 253) 3%, rgb(230, 231, 233) 82%);
    background: -ms-linear-gradient(91deg, rgb(253, 253, 253) 3%, rgb(230, 231, 233) 82%);
    background: linear-gradient(181deg, rgb(253, 253, 253) 3%, rgb(230, 231, 233) 82%);

}
.profile-color{
    background: rgb(253, 253, 253);
    background: -moz-linear-gradient(91deg, rgb(253, 253, 253) 3%, rgb(230, 231, 233) 82%);
    background: -webkit-linear-gradient(91deg, rgb(253, 253, 253) 3%, rgb(230, 231, 233) 82%);
    background: -o-linear-gradient(91deg, rgb(253, 253, 253) 3%, rgb(230, 231, 233) 82%);
    background: -ms-linear-gradient(91deg, rgb(253, 253, 253) 3%, rgb(230, 231, 233) 82%);
    background: linear-gradient(181deg, rgb(253, 253, 253) 3%, rgb(230, 231, 233) 82%);
}
.about-user{
    background-color: #2D3E50;
    height: 45px;
    color: white;
    padding: 4px;
    font-size: 25px;
}
.user-summary{
    padding: 25px 0px 0px 25px;
    font-size: 23px;
}
.summary-content{
    padding: 10px 0px 10px 25px;
}
.user-professional-background{
    background-color: #2D3E50;
    height: 45px;
    color: white;
    padding: 4px;
    font-size: 25px;
}
.professional-content{
    padding: 10px 0px 10px 25px;
}
.job-experience-title{
    font-size: 30px;
}
.company-experience-title{
    font-size: 19px;
}
.small-date{
    font-size: 12px;
    color: #C3C5C4;
}
.education{
    background-color: #2D3E50;
    height: 45px;
    color: white;
    padding: 4px;
    font-size: 25px;
}
.user-education{
    padding: 25px 0px 0px 25px;
    font-size: 23px;
}
.education-content{
    padding: 10px 0px 10px 25px;
}
.university-title{
    font-size: 30px;
}
.university-location{
    font-size: 19px;
}
.language-user{
    background-color: #2D3E50;
    height: 45px;
    color: white;
    padding: 4px;
    font-size: 25px;
}
.language-spoken{
    padding: 25px 0px 0px 25px;
    font-size: 23px;
}
.languages-content{
    padding: 10px 0px 0px 25px;
}
.lang-spok-user{
    font-size: 23px;
}
.user-skills{
    padding: 25px;
    font-size: 23px;
}
.skills-list{
    padding: 10px 0px 0px 25px;
}
.single-skills{
    padding: 3px 15px;
    border-radius: 10px;
    background-color: #EEF0EF;
    border: 1px solid;
}
.additional-info{
    background-color: #2D3E50;
    height: 45px;
    color: white;
    padding: 4px;
    font-size: 25px;
    margin-top: 17px;
}
.user-info-content{
    padding: 10px 0px 10px 25px;
}
.user-information{
    font-size: 23px;
}
.contact-info{
    background-color: #2D3E50;
    height: 45px;
    color: white;
    padding: 4px;
    font-size: 25px;
}
.user-contact-content{
    padding: 10px 0px 10px 25px;
}
.user-contact-detail{
    font-size: 23px;
}
.line-user {
    z-index: 1;
    height: 1px;
    background: #BBBBBB;
}
#favorit-link {
    background-color: transparent;
    border: 1px solid yellow;
}
.success-message{
    background-color: #F27269;
    border-color: #F27269;
    color: #FFFFFF;
    position: absolute;
    /*width: 350px;*/
    padding: 15px;
    border-radius: 4px;
    font-size: 21px;
}
.message-border {
    border: 1px solid transparent;
}
.edit-field-button {
    height: 32px;
    width: 32px;
    line-height: 26px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 8px;
    border: 0;
    color: #505e69;
}