<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                Job+
            {% endblock %}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {#<base href="http://jobplus.md/">#}
        <link rel="icon" href="{{ asset('favicon.png') }}" type="image/png" sizes="32x16">

        {% block stylesheets %}
            <link href='//fonts.googleapis.com/css?family=Ubuntu:400' rel='stylesheet' type='text/css'>
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('bundles/ibwjobm/css/bootstrap.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/ibwjobm/css/bootstrap-select.min.css') }}" type="text/css" media="all" />
            <link href="{{ asset('bundles/ibwjobm/css/stylesheet.css') }}" type="text/css" media="all" rel="stylesheet">
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibwjobm/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibwjobm/js/bootstrap-select.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('http://code.jquery.com/ui/1.11.2/jquery-ui.js') }}"></script>
            <script type="text/javascript" src="{{asset('http://tinymce.cachefly.net/4.1/tinymce.min.js')}}"></script>
            <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
            {#<script src="//platform.linkedin.com/in.js" type="text/javascript">#}
                {#lang: en_US#}
            {#</script>#}
            <script type="text/javascript">
                $(document).ready(function(){
                    /*Registration tob*/
                    document.getElementById('registration_username').placeholder= '{{ 'Numele Companiei' | trans }}';
                    $('#candidate-button').click(function(){
                        document.getElementById('registration_username').placeholder= '{{ 'Numele' | trans  }}';
                    });
                    $('#company').click(function(){
                        document.getElementById('registration_username').placeholder= '{{ 'Numele Companiei' | trans }}';
                    });

                });
            </script>

        {% endblock %}
    </head>
    <body>
    <div class="header header-background">
        <div class="container">
            <div class="logo-block">
                <a href="{{ path('ibw_job_m_homepage') }}">
                    <img src="{{ asset('bundles/ibwjobm/images/logo.png') }}" width="150px">
                </a>
            </div>
            <div class="width-block-buttons">
                <div class="header-position">
                    <a href="{{ path ('ibw_jobs_all') }}">
                        <button type="button" class="btn btn-black button-active">
                            <img src="{{ asset('bundles/ibwjobm/images/jobs.png') }}">
                            {% trans %}JOBS{% endtrans %}
                        </button>
                    </a>
                    <a href="{{ path('ibw_cv_show_by_user') }}">
                        <button type="button" class="btn btn-black">
                            <img src="{{ asset('bundles/ibwjobm/images/cv.png') }}">
                            {% trans %}CV{% endtrans %}
                        </button>
                    </a>

                </div>
            </div>
            <div class="width-favorite-message">
                <div class="header-position">
                    {% if app.user %}
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('my_favorits_companies') }}">
                                <div class="favorite"></div>
                            </a>
                        {#{% endif %}#}
                        {% elseif is_granted('ROLE_COMPANY') %}
                            <a href="{{ path('my_favorits_users') }}">
                                <div class="favorite"></div>
                            </a>
                        {% endif %}
                            <a href="{{ path('messages') }}">
                                <div class="message"></div>
                            </a>
                    {% else %}
                            <div class="favorite"></div>
                            <div class="message"></div>
                    {% endif %}
                </div>
            </div>
            <div class="width-home-map">
                <div class="header-position">
                    {% if app.user %}
                        {% if is_granted('ROLE_USER') %}
                            <div class="fonts-icon-home">
                                <a href="{{ path('profile_candidate') }}">
                                    <i class="fa fa-home size-home"></i>
                                    <span class="fonts-text-home-my">MY</span>
                                    <i class="fa fa-plus size-plus"></i>
                                </a>
                            </div>
                        {% elseif is_granted('ROLE_COMPANY') %}
                            <div class="fonts-icon-home">
                                <a href="{{ path('profile_company') }}">
                                    <i class="fa fa-home size-home"></i>
                                    <span class="fonts-text-home-my">MY</span>
                                    <i class="fa fa-plus size-plus"></i>
                                </a>
                            </div>
                        {% endif %}
                    {% else %}
                            <div class="fonts-icon-home">
                                <i class="fa fa-home size-home"></i>
                                    <span class="fonts-text-home-my">MY</span>
                                <i class="fa fa-plus size-plus"></i>
                            </div>
                    {% endif %}
                    <a href="{{ path('maps') }}">
                        <div class="fonts-icon-map">
                            <i class="fa fa-map-marker size-map"></i>
                                <span class="fonts-text-home-my">MAP</span>
                            <i class="fa fa-plus size-plus"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="register">
                {% if app.user %}
                    <a href="{{ path('logout') }}" style="margin-left: 40px"> <i class="fa fa-sign-out" style="font-size: 17px"></i> {% trans %} Ieșire {% endtrans %}</a>
                {% else %}
                    <a href="{{ path('login') }}"><i class="fa fa-lock"></i> {% trans %} Intra in cont {% endtrans %}</a>
                    |
                    <a href="{{ path('account_register') }}"> {% trans %} Cont nou {% endtrans %} </a>
                {% endif %}
            </div>
            <div class="language-width">
                <div class="dropdown">
                    {% if app.request.get('_locale') == 'en' %}
                        <a href="#" data-toggle="dropdown">
                            <img src="{{ asset('bundles/ibwjobm/images/english.gif') }}"> English
                        </a>
                    {% endif %}

                    {% if app.request.get('_locale') == 'ru' %}
                        <a href="#" data-toggle="dropdown">
                            <img src="{{ asset('bundles/ibwjobm/images/russian.gif') }}"> Русский
                        </a>
                    {% endif %}

                    {% if app.request.get('_locale') == 'ro' %}
                        <a href="#" data-toggle="dropdown">
                            <img src="{{ asset('bundles/ibwjobm/images/rom.png') }}"> Română
                        </a>
                    {% endif %}

                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
                                <img src="{{ asset('bundles/ibwjobm/images/english.gif') }}"> English
                            </a>
                        </li>
                        <li>
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}">
                                <img src="{{ asset('bundles/ibwjobm/images/russian.gif') }}"> Русский
                            </a>
                        </li>
                        <li>
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ro'})) }}">
                                <img src="{{ asset('bundles/ibwjobm/images/rom.png') }}"> Română
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="categories">
                <div class="dropdown">
                    <a data-toggle="dropdown" href="#">
                        {% trans %} Toate {% endtrans %}<br/>
                        <strong>{% trans %} Categoriile {% endtrans %}</strong>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a href="en">
                                english
                            </a>
                        </li>
                        <li>
                            <a href="ru">
                                русский
                            </a>
                        </li>
                        {#<li>#}
                            {#<a href="{{ path('sendMail') }}">#}
                                {#send#}
                            {#</a>#}
                        {#</li>#}
                    </ul>
                </div>
            </div>
            <div class="col-xs-10">
                <div class="block-search">
                    <form action="{{ path('search') }}" method="GET">
                        <div class="form-group search-keyword">
                            <input type="text" name="query" class="form-control" placeholder="{% trans %}Cuvinte cheie{% endtrans %}" value="{{ app.request.get('query') }}" required>
                        </div>
                        <div class="form-group search-in">
                            <select name="category" class="selectpicker show-tick form-control" multiple data-live-search="true">
                                <option value="" disabled selected style="display:none">To search in</option>
                                {% for category in categories() %}
                                    <option value="{{ category.name }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group search-location">
                            <select name="location" class="selectpicker show-tick form-control" multiple data-live-search="true">
                                <option value="" disabled selected style="display:none">Location</option>
                                {% for city in cities() %}
                                    <option value="{{ city.name_city }}">{{ city.name_city }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group search-industry">
                            <select name="industry" class="selectpicker show-tick form-control" multiple data-live-search="true">
                                <option value="" disabled selected style="display:none">Industry</option>
                                <option value="Бронированная дверь">Бронированная дверь</option>
                                <option value="Детский сад">Детский сад</option>
                                <option value="Лифт">Лифт</option>
                            </select>
                        </div>
                        <div class="form-group button-search">
                            <button type="submit" class="btn btn-submit"><i class="fa fa-search"></i> {% trans %} Cauta {% endtrans %}</button>
                        </div>
                        <a data-toggle="collapse" data-parent="#advaced-search" href="#open" class="button-open-advanced-search">
                            <i class="fa fa-sort-desc"></i>
                        </a>
                        <div class="clearfix"></div>
                        <div class="panel-group" id="advaced-search">
                            <div class="panel panel-default">
                                <div id="open" class="panel-collapse collapse">
                                    <div class="panel-body row">
                                        <select name="cars" multiple style="width: 170px;margin-right: 13px">
                                            <option value="volvo">Volvo</option>
                                            <option value="saab">Saab</option>
                                            <option value="opel">Opel</option>
                                            <option value="audi">Audi</option>
                                        </select>
                                        <select name="cars" multiple style="width: 170px;margin-right: 13px">
                                            <option value="volvo">Volvo</option>
                                            <option value="saab">Saab</option>
                                            <option value="opel">Opel</option>
                                            <option value="audi">Audi</option>
                                        </select>
                                        <select name="cars" multiple style="width: 170px;margin-right: 13px">
                                            <option value="volvo">Volvo</option>
                                            <option value="saab">Saab</option>
                                            <option value="opel">Opel</option>
                                            <option value="audi">Audi</option>
                                        </select>
                                        <select name="cars" multiple style="width: 170px;margin-right: 13px">
                                            <option value="volvo">Volvo</option>
                                            <option value="saab">Saab</option>
                                            <option value="opel">Opel</option>
                                            <option value="audi">Audi</option>
                                        </select>
                                        <select name="cars" multiple style="width: 170px">
                                            <option value="volvo">Volvo</option>
                                            <option value="saab">Saab</option>
                                            <option value="opel">Opel</option>
                                            <option value="audi">Audi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{#<div class="content-background">#}
    {#<div class="container">#}
        {% block content %}

        {% endblock %}
    {#</div>#}
{#</div>#}

{% block footer %}

    {#<div class="vc-arrow-up"></div>#}

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="footer">
                    <p class="copyright" style="text-align: center"><b>&#169; 2014 All right reserved "jobmatch" SRL</b></p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('bundles/ibwjobm/js/main.js') }}"></script>

{% endblock %}

</body>
</html>