{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}
    <div class="background-index">
        <div class="container">
            <div class="row">
                <h1><b>My Favorites</b></h1>
                <table width="100%" >
                    {% for favorit in favoritesUsersDetails %}
                        <tr class="border-index">
                            <td>
                                <img src="{{ favorit.getWebPath | imagine_filter('my_thumb') }}">
                            </td>

                            <td>
                                <h3><b>{{ favorit.name }}</b></h3>
                            <span class="">
                                {{ favorit.jobtitle }} <br/>
                                {{ favorit.companyname }}
                            </span>
                            </td>

                            <td>
                                <h3 style="padding-bottom: 36px;">{{ favorit.city }}</h3>
                            </td>

                            <td>
                                <h3>{{ favorit.specialization }}</h3>
                                <br>
                                <small>{% trans with {'%date%': favorit.createdat|date('m/d/Y')} %}posted on %date%{% endtrans %}</small>
                            </td>

                            <td>
                                <div class="width-favorite-message">
                                    <div class="header-position">
                                        <div class="message"></div>
                                        <a href="{{ path('delete_favorits_users', {'id': favorit.id}) }}">
                                            <div class="trash"></div>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {{ total }}
                </table>
            </div>
        </div>
    </div>
{% endblock %}