{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}

    <div class="background-index">
        <div class="container">
            <div class="row">
                <h1><b>My Favorites</b></h1>
                <table width="100%" >
                    {% for favorit in favoritesCompDetails %}
                        {#{{ favorit.jobid }}#}
                        <tr class="border-index">
                            <td>
                                <div style="background-color: #F27269; width: 4%; height: 100px">
                                    {% if favorit.getWebPath %}
                                        <img src="{{ favorit.getWebPath | imagine_filter('my_thumb') }}">
                                    {% else %}
                                        <img src="{{ asset('bundles/ibwjobm/images/111___Copy__1419071689_54369.png') }}">
                                    {% endif %}
                                </div>
                            </td>


                            <td class="standard-jobs">
                                <h3><b>{{ favorit.positionrole }}</b></h3>
                                {{ favorit.companyname }}
                            </td>

                            <td class="standard-jobs">
                                <h3>{{ favorit.city }}</h3>
                            </td>

                            <td>
                                {% if favorit.jobtype == 'FULL-TIME' %}
                                    <span class="full-time">{{ favorit.jobtype }}</span>
                                {% elseif favorit.jobtype == 'PART-TIME' %}
                                    <span class="part-time">{{ favorit.jobtype }}</span>
                                {% else %}
                                    <span class="freelance">{{ favorit.jobtype  }}</span>
                                {% endif %}
                                <br>
                                <small>{% trans with {'%date%': favorit.createdat|date('m/d/Y')} %}posted on %date%{% endtrans %}</small>
                            </td>

                            <td>
                                <div class="width-favorite-message pull-right">
                                    <div class="header-position">
                                        <div class="message"></div>
                                        <a href="{{ path('delete_favorits_companies', {'id': favorit.id}) }}">
                                            <div class="trash"></div>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    <h1>{{ total }}</h1>
                </table>
            </div>
        </div>
    </div>
{% endblock %}