{% extends 'IbwJobMBundle::layout.html.twig' %}


{% block content %}


    {% block search %}

        <div class="row row-form-search">
            <div class="row">


                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <label>Company</label>
                    <select class="form-control">
                        {% for company in companyCollection %}
                            <option>{{ company.companyname }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <label>Category</label>
                    <select class="form-control">
                        {% for category in categoryCollection %}
                            <option>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <label>City</label>
                    <select class="form-control">
                        {% for city in cityCollection %}
                            <option>{{ city.namecity }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <label>Type of Job</label>
                    <select class="form-control">
                        <option> Fr </option>

                    </select>
                </div>
            </div>
        </div>

    {% endblock %}

    <div class="container">
        {% for job in jobCollection %}

            <div class="row row-vacancy">

                <div class="company_name col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="{{ path('ibw_company_show', {'id': job.id, 'company': job.company}) }}"><span>{{ job.company }}</span></a>
                </div>

                <div class="company_region col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <a href="{{ path('ibw_job_show', { 'id': job.id, 'company': job.companyslug, 'city': job.city, 'position': job.positionslug }) }}">
                        <span>{{ job.position }}</span>
                    </a>
                </div>

                <div class="company_region col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span>{{ job.city }}</span>
                </div>

                <div class="text-right">
                    <small>{% trans with {'%date%': job.createdat|date('m/d/Y')} %}posted on %date%{% endtrans %}</small>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock %}
