{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}


    <script>
        $("#myElem").show();
        setTimeout(function() { $("#myElem").hide() }, 5000);
    </script>


    {% for flashMessage in app.session.flashbag.get('message') %}
        <div id="myElem" class="success-message message-border" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {{ flashMessage }}
        </div>
    {% endfor %}


    <div class="background-index">
        <div class="container">
            <h2 class="title-vacancies">PREMIUM VACANCIES</h2>
            {% for c in comp %}

                <div class="block-vacancy">
                    <div class="position-logo-company-vacancy">

                    </div>
                    <div class="title-vacancy">{{ c.company_name }}</div>
                    <ul style="padding: 0 20px;list-style-type: square">
                        {#{% for jobPrem in jobsPremium %}#}
                        {% for jobPrem in jobsPremium %}
                            <li>{{ jobPrem.positionrole }}</li>
                        {% endfor %}
                        {#{% endfor %}#}
                    </ul>
                    <a href="" class="btn btn-submit button-send-cv">ОТПРАВИТ CV</a>
                </div>
            {% endfor %}
            <div class="clearfix"></div>

            <div class="row">
                <h3 class="title-vacancies">ALL VACANCIES</h3>
                <table width="100%" >
                    {% for jobStan in jobsStandard %}
                        <tr class="border-index" style="background-color: #D9D9D9;">
                            <td>
                                <div style="background-color: #F27269; width: 4%; height: 100px">
                                    {% if jobStan.getWebPath %}
                                        <img src="{{ jobStan.getWebPath | imagine_filter('my_thumb') }}">
                                    {% else %}
                                        <img src="{{ asset('bundles/ibwjobm/images/111___Copy__1419071689_54369.png') }}">
                                    {% endif %}
                                </div>
                            </td>


                            <td class="standard-jobs">
                                <h3><b>{{ jobStan.positionrole }}</b></h3>
                                {{ jobStan.companyname }}
                            </td>

                            <td class="standard-jobs">
                                <h3>{{ jobStan.city }}</h3>
                            </td>

                            <td>
                                {% if jobStan.jobtype == 'FULL-TIME' %}
                                    <span class="full-time">{{ jobStan.jobtype }}</span>
                                {% elseif jobStan.jobtype == 'PART-TIME' %}
                                    <span class="part-time">{{ jobStan.jobtype }}</span>
                                {% else %}
                                    <span class="freelance">{{ jobStan.jobtype  }}</span>
                                {% endif %}
                                <br>
                                <small>{% trans with {'%date%': jobStan.createdat|date('m/d/Y')} %}posted on %date%{% endtrans %}</small>
                            </td>

                            <td>
                                <div class="width-favorite-message pull-right">
                                    <div class="header-position">
                                        <a href="{{ path('add_favorits_company', {'token': jobStan.token}) }}">
                                            <div class="favorite"></div>
                                        </a>
                                        <div class="message"></div>
                                        {#<a href="{{ path('add_favorits_by_users') }}">asdad</a>#}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for jobBas in jobsBasic %}
                        <tr class="border-index">
                            <td>
                                {% if jobBas.getWebPath %}
                                    <img src="{{ jobBas.getWebPath | imagine_filter('my_thumb') }}">
                                {% else %}
                                    <img src="{{ asset('bundles/ibwjobm/images/111___Copy__1419071689_54369.png') }}">
                                {% endif %}
                            </td>

                            <td>
                                <h3><b>{{ jobBas.positionrole }}</b></h3>
                                {{ jobBas.companyname }}
                            </td>

                            <td>
                                <h3>{{ jobBas.city }}</h3>
                            </td>

                            <td>
                                {% if jobBas.jobtype == 'FULL-TIME' %}
                                    <span class="full-time">{{ jobBas.jobtype }}</span>
                                {% elseif jobBas.jobtype == 'PART-TIME' %}
                                    <span class="part-time">{{ jobBas.jobtype }}</span>
                                {% else %}
                                    <span class="freelance">{{ jobBas.jobtype }}</span>
                                {% endif %}
                                <br>
                                <small>{% trans with {'%date%': jobBas.createdat|date('m/d/Y')} %}posted on %date%{% endtrans %}</small>
                            </td>
                            <td>
                                <div class="width-favorite-message pull-right">
                                    <div class="header-position">
                                        <a href="{{ path('add_favorits_company', {'token': jobBas.token}) }}">
                                            <div class="favorite"></div>
                                        </a>
                                        <div class="message"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}