{% extends 'IbwJobMBundle::layout.html.twig' %}
 
{% form_theme edit_form 'IbwJobMBundle:tools:form.html.twig' %}

{% block content %}
    <h1>Job edit</h1>
    <form action="{{ path('ibw_job_update', { 'token': entity.token }) }}" method="post" {{ form_enctype(edit_form) }}>
        <table id="job_form">
            <tfoot>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-primary" type="submit">Preview your job</button>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <th>{{ form_label(edit_form.category) }}</th>
                    <td>
                        {{ form_errors(edit_form.category) }}
                        {{ form_widget(edit_form.category, { 'attr': {'class': 'form-control form-group'} }) }}
                    </td>
                </tr>
                {#<tr>#}
                    {#<th>{{ form_label(edit_form.time_schedule) }}</th>#}
                    {#<td>#}
                        {#{{ form_errors(edit_form.time_schedule) }}#}
                        {#{{ form_widget(edit_form.time_schedule) }}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>{{ form_label(edit_form.company) }}</th>#}
                    {#<td>#}
                        {#{{ form_errors(edit_form.company) }}#}
                        {#{{ form_widget(edit_form.company, { 'attr': {'class': 'form-control form-group'} }) }}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>{{ form_label(edit_form.url) }}</th>#}
                    {#<td>#}
                        {#{{ form_errors(edit_form.url) }}#}
                        {#{{ form_widget(edit_form.url, { 'attr': {'class': 'form-control form-group'} }) }}#}
                    {#</td>#}
                {#</tr>#}
                <tr>
                    <th>{{ form_label(edit_form.position_role) }}</th>
                    <td>
                        {{ form_errors(edit_form.position_role) }}
                        {{ form_widget(edit_form.position_role, { 'attr': {'class': 'form-control form-group'} }) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.city) }}</th>
                    <td>
                        {{ form_errors(edit_form.city) }}
                        {{ form_widget(edit_form.city, { 'attr': {'class': 'form-control form-group'} }) }}
                    </td>
                </tr>
                {#<tr>#}
                    {#<th>{{ form_label(edit_form.description) }}</th>#}
                    {#<td>#}
                        {#{{ form_errors(edit_form.description) }}#}
                        {#{{ form_widget(edit_form.description, { 'attr': {'class': 'form-control form-group'} }) }}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>{{ form_label(edit_form.is_public) }}</th>#}
                    {#<td>#}
                        {#{{ form_errors(edit_form.is_public) }}#}
                        {#{{ form_widget(edit_form.is_public) }}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>{{ form_label(edit_form.email) }}</th>#}
                    {#<td>#}
                        {#{{ form_errors(edit_form.email) }}#}
                        {#{{ form_widget(edit_form.email, { 'attr': {'class': 'form-control form-group'} }) }}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>{{ form_label(edit_form.salary_min) }}</th>#}
                    {#<td>#}
                        {#{{ form_errors(edit_form.salary_min) }}#}
                        {#{{ form_widget(edit_form.salary_min, { 'attr': {'class': 'form-control form-group'} }) }}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>{{ form_label(edit_form.salary_max) }}</th>#}
                    {#<td>#}
                        {#{{ form_errors(edit_form.salary_max) }}#}
                        {#{{ form_widget(edit_form.salary_max, { 'attr': {'class': 'form-control form-group'} }) }}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>{{ form_label(edit_form.currencies) }}</th>#}
                    {#<td>#}
                        {#{{ form_errors(edit_form.currencies) }}#}
                        {#{{ form_widget(edit_form.currencies, { 'attr': {'class': 'form-control form-group'} }) }}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>{{ form_label(edit_form.studies) }}</th>#}
                    {#<td>#}
                        {#{{ form_errors(edit_form.studies) }}#}
                        {#{{ form_widget(edit_form.studies, { 'attr': {'class': 'form-control form-group'} }) }}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>{{ form_label(edit_form.experience) }}</th>#}
                    {#<td>#}
                        {#{{ form_errors(edit_form.experience) }}#}
                        {#{{ form_widget(edit_form.experience, { 'attr': {'class': 'form-control form-group'} }) }}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>{{ form_label(edit_form.contact_person) }}</th>#}
                    {#<td>#}
                        {#{{ form_errors(edit_form.contact_person) }}#}
                        {#{{ form_widget(edit_form.contact_person, { 'attr': {'class': 'form-control form-group'} }) }}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>{{ form_label(edit_form.phone_mob) }}</th>#}
                    {#<td>#}
                        {#{{ form_errors(edit_form.phone_mob) }}#}
                        {#{{ form_widget(edit_form.phone_mob, { 'attr': {'class': 'form-control form-group'} }) }}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>{{ form_label(edit_form.phone_fixed) }}</th>#}
                    {#<td>#}
                        {#{{ form_errors(edit_form.phone_fixed) }}#}
                        {#{{ form_widget(edit_form.phone_fixed, { 'attr': {'class': 'form-control form-group'} }) }}#}
                    {#</td>#}
                {#</tr>#}

            </tbody>
        </table>
    {{ form_end(edit_form) }}
{% endblock %}