{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}

    <div class="container">
        {% for job in jobCollection %}

            <div class="row row-vacancy">

                <div class="company_name col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="{{ path('ibw_company_show', {'id': job.id, 'company': job.company}) }}"><span>{{ job.company }}</span></a>
                </div>

                <div class="company_region col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <a href="{{ path('ibw_job_show', { 'company': job.company, 'id': job.id,  'position': job.position }) }}">
                        <span>{{ job.position }}</span>
                    </a>
                </div>

                <div class="company_region col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span>{{ job.city }}</span>
                </div>

                <div class="text-right">
                    <small>{% trans with {'%date%': job.createdat|date('m/d/Y')} %}posted on %date%{% endtrans %}</small>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock %}
