<div class="container">

    {% for entity in jobs %}
        <div class="row row-vacancy">

            <div class="company_name col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <span>{{ entity.city }}</span>
            </div>

            <div class="company_region col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <a href="{{ path('ibw_job_show', { 'id': entity.id, 'company': entity.company, 'city': entity.city, 'position': entity.position }) }}">
                    <span>{{ entity.position }}</span>
                </a>
            </div>

            <div class="company_name col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <a href="{{ path('ibw_company_show', {'id': entity.id, 'company': entity.company}) }}"><span>{{ entity.company }}</span></a>
            </div>

            <div class="text-right">
            <small>{% trans with {'%date%': entity.createdat|date('m/d/Y')} %}posted on %date%{% endtrans %}</small>
            </div>

        </div>
    {% endfor %}

</div>

