{% extends 'IbwJobMBundle::layout.html.twig' %}

{% form_theme rename_form 'IbwJobMBundle:tools:form.html.twig' %}

{% block content %}
    <h1>Job rename</h1>

    <div class="container">
        <div class="row">
            <div class="col-xs-9 bag-color">
                <div class="row">
                    <div class="col-xs-8">
                        {{ form_start(rename_form, {'action': path('ibw_job_update_rename', {'token': entity.token})} ) }}
                        <div class="tab-content">
                            <div class="col-xs-6">
                                {{ form_label(rename_form.position_role) }}

                                {{ form_errors(rename_form.position_role) }}
                                {{ form_widget(rename_form.position_role, { 'attr': {'class': 'form-control form-group'} }) }}
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-black button-inactive"  type="submit"> Update your Job</button>
                                </div>
                            </div>
                        </div>
                        {{ form_end(rename_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

