{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}
<div class="background-index">
    <div class="container">
        <div class="row">
            <h1><b>Rezultatul cautarii</b></h1>
            <table width="100%" >
                {% for job in jobs %}
                    {% if job.paymentjob == 'premium' %}
                    <h3 class="title-vacancies">PREMIUM JOBURI</h3>
                    <tr class="border-index">
                        <td>
                            <img src="{{ job.getWebPath | imagine_filter('my_thumb') }}">
                        </td>

                        <td>
                            <h3><b>{{ job.positionrole }}</b></h3>
                            {{ job.companyname }}
                        </td>

                        <td>
                            <h3>{{ job.city }}</h3>
                        </td>

                        <td>
                            {% if job.jobtype == 'FULL-TIME' %}
                                <span class="full-time">{{ job.jobtype }}</span>
                            {% elseif job.jobtype == 'PART-TIME' %}
                                <span class="part-time">{{ job.jobtype }}</span>
                            {% else %}
                                <span class="freelance">{{ job.jobtype  }}</span>
                            {% endif %}
                            <br>
                            <small>{% trans with {'%date%': job.createdat|date('m/d/Y')} %}posted on %date%{% endtrans %}</small>
                        </td>

                        <td>
                            <div class="width-favorite-message pull-right">
                                <div class="header-position">
                                    <div class="favorite"></div>
                                    <div class="message"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
            </table>
            <table width="100%">
                    {% elseif job.paymentjob  == 'standard'%}
                        <h3 class="title-vacancies">TOATE JOBURILE</h3>
                    <tr class="border-index" style="background-color: #D9D9D9;">
                        <td>
                            <div style="background-color: #F27269; width: 4%; height: 100px">
                                {#{% for c in comp %}#}
                                {#<a href="{{ path('ibw_company_show', {'company': c.company.id, 'id': c.id }) }}">#}
                                {#<img src="{{ asset('bundles/ibwjobm/images/adidas.png') }}">#}
                                <img src="{{ job.getWebPath | imagine_filter('my_thumb') }}">
                                {#</a>#}
                                {#{% endfor %}#}
                            </div>
                        </td>


                        <td class="standard-jobs">
                            <h3><b>{{ job.positionrole }}</b></h3>
                            {{ job.companyname }}
                        </td>

                        <td class="standard-jobs">
                            <h3>{{ job.city }}</h3>
                        </td>

                        <td>
                            {% if job.jobtype == 'FULL-TIME' %}
                                <span class="full-time">{{ job.jobtype }}</span>
                            {% elseif job.jobtype == 'PART-TIME' %}
                                <span class="part-time">{{ job.jobtype }}</span>
                            {% else %}
                                <span class="freelance">{{ job.jobtype  }}</span>
                            {% endif %}
                            <br>
                            <small>{% trans with {'%date%': job.createdat|date('m/d/Y')} %}posted on %date%{% endtrans %}</small>
                        </td>

                        <td>
                            <div class="width-favorite-message pull-right">
                                <div class="header-position">
                                    <div class="favorite"></div>
                                    <div class="message"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% else %}
                    <h3 class="title-vacancies">TOATE JOBURILE</h3>
                    <tr class="border-index">
                        <td>
                            <img src="{{ job.getWebPath | imagine_filter('my_thumb') }}">
                        </td>

                        <td>
                            <h3><b>{{ job.positionrole }}</b></h3>
                            {{ job.companyname }}
                        </td>

                        <td>
                            <h3>{{ job.city }}</h3>
                        </td>

                        <td>
                            {% if job.jobtype == 'FULL-TIME' %}
                                <span class="full-time">{{ job.jobtype }}</span>
                            {% elseif job.jobtype == 'PART-TIME' %}
                                <span class="part-time">{{ job.jobtype }}</span>
                            {% else %}
                                <span class="freelance">{{ job.jobtype  }}</span>
                            {% endif %}
                            <br>
                            <small>{% trans with {'%date%': job.createdat|date('m/d/Y')} %}posted on %date%{% endtrans %}</small>
                        </td>

                        <td>
                            <div class="width-favorite-message pull-right">
                                <div class="header-position">
                                    <div class="favorite"></div>
                                    <div class="message"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}