{% extends 'IbwJobMBundle::layout.html.twig' %}


{% block content %}
    {{ parent() }}


<div class="background-index">
    {#<div class="modal fade" id="show-create-cv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
        {#<div class="modal-dialog">#}
            {#<div class="modal-content">#}
                {#<div class="modal-header">#}
                    {#<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Închide{% endtrans %}</span></button>#}
                    {#<label>{% trans %}Numele cv-ului{% endtrans %}</label>#}
                {#</div>#}
                {#<div class="modal-body">#}
                    {#<form action="{{ path ('ibw_cv_create') }}" method="post">#}
                        {#<div class="col-xs-9">#}
                            {#<input type="text" name="title" class="form-control">#}
                        {#</div>#}
                        {#<div class="col-xs-3">#}
                            {#<button type="submit" class="btn btn-black button-active">{% trans %}Creează CV-ul {% endtrans %}</button>#}
                        {#</div>#}
                        {#<label class="select-language">{% trans %}Limbă{% endtrans %}</label>#}
                        {#<div class="col-xs-12">#}
                            {#<select name="lang">#}
                                {#<option value="en">#}
                                    {#English#}
                                {#</option>#}
                                {#<option value="ru">#}
                                    {#Pусский#}
                                {#</option>#}
                                {#<option value="ro">#}
                                    {#Română#}
                                {#</option>#}
                            {#</select>#}
                        {#</div>#}
                    {#</form>#}
                    {#<div class="clearfix"></div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}


    <div class="container">
        <h1>{% trans %}JOB-urile mele:{% endtrans %}</h1>

        <div class="row">
            <table class="table table-hover">
                <tr>
                    <th>
                        {% trans %}Numele{% endtrans %}
                    </th>
                    <th>
                        {% trans %}Ultima modificare{% endtrans %}
                    </th>
                    <th colspan="6" class="text-right">
                        {% trans %}Opțiuni{% endtrans %}
                    </th>
                </tr>
                {% for job in user %}
                    <tr>
                        <td>
                            <a href="{{ path ('ibw_job_edit',{'token': job.token}) }}">{{ job.positionrole }} </a>
                        </td>
                        <td>
                            {{ job.updatedat|date('m/d/Y, H:i:s') }}
                        </td>
                        <td>
                            {% if job.isactivated == NULL %}
                            <a href="{{ path('ibw_job_publish', {'token': job.token}) }}">
                                <button  class="btn btn-default add-color"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;{% trans %}Public{% endtrans %} </button>
                            </a>
                            {% else %}
                            <a href="{{ path('ibw_job_hide', {'token': job.token}) }}">
                                <button  class="btn btn-default add-color"><i class="glyphicon glyphicon-eye-close"></i>&nbsp;{% trans %}Hide{% endtrans %} </button>
                            </a>
                            {% endif %}
                        </td>
                    <td>
                        <button class="btn btn-default add-color" id="moreInputs" data-toggle="modal" data-target="#{{ job.id }}"><span class="fa fa-rss"></span>&nbsp;{% trans %}Distribuie{% endtrans %}</button>

                        <div class="modal fade" id="{{ job.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span  aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Închide{% endtrans %}</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <label>{% trans %}URL pentru distribuire{% endtrans %}</label>
                                        <input type="text" class="form-control" value="http://jobplus.md//job/{{ job.token }}">
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default add-color" data-dismiss="modal">{% trans %}OK{% endtrans %}</button>
                                        <button type="button" class="btn btn-default add-color" data-dismiss="modal">{% trans %}Anulează{% endtrans %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td class="dropdown">
                        <a href="#" class="dropdown-toggle btn-light" data-toggle="dropdown">
                            <button class="btn btn-default add-color"><span  class="fa fa-download"></span>&nbsp;{% trans %}Descarcă{% endtrans %}</button>
                        </a>
                        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path ('ibw_job_download_pdf',{'token': job.token}) }}">{% trans %}Descarcă{% endtrans %} pdf</a></li>

                            <li><a href="{{ path ('ibw_job_download_doc',{'token': job.token}) }}">{% trans %}Descarcă{% endtrans %} doc</a></li>

                            <li><a href="{{ path ('ibw_job_download_html',{'token': job.token}) }}">{% trans %}Descarcă{% endtrans %} html</a></li>
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path ('ibw_job_copy', {'token': job.token}) }}">
                            <button class="btn btn-default add-color"><span class="fa fa-file-text-o"></span>&nbsp;{% trans %}Copiază{% endtrans %} </button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path ('ibw_job_rename', {'token': job.token}) }}">
                            <button class="btn btn-default add-color"><span class="fa fa-pencil-square-o"></span>&nbsp;{% trans %}Redenumește{% endtrans %}</button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path ('ibw_job_delete', {'token': job.token}) }}">
                            <button class="btn btn-default add-color"><span class="glyphicon glyphicon-trash"></span>&nbsp;{% trans %}Șterge{% endtrans %}</button>
                        </a>
                    </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <button type="button" class="btn btn-black button-active" id="moreInputs" data-toggle="modal" data-target="#show-create-cv" style="width: 170px; font-size: 20px">{% trans %}Creează CV-ul{% endtrans %}</button>
    </div>
</div>
{% endblock %}

