{% extends 'IbwJobMBundle::layout.html.twig' %}
 
{% block title %}
    {% trans with {'%company%': entity.company, '%position%': entity.position} %}%company% is looking for a %position%{% endtrans %}
{% endblock %}

 
{% block content %}
    {% if app.request.get('token') %}
        {% include 'IbwJobMBundle:Job:admin.html.twig' with {'job': entity} %}
    {% endif %}
    <table class="table table-bordered">
        <tr>
            <td>
                <h1>{% trans %}Company:{% endtrans %}</h1><a href="{{ path('ibw_company_show', {'id': entity.id, 'company': entity.company}) }}"><h1>{{ entity.company }}</h1></a>
            </td>
        </tr>
        <tr>
            <td>
                <h2>{% trans %}Location:{% endtrans %} {{ entity.city }}</h2>
            </td>
        </tr>
        <tr>
            <td>

                <h3>{% trans %}Position:{% endtrans %}  {{ entity.position }}</h3>
                <small>{% trans %}Type:{% endtrans %}    {{ entity.timeschedule }}</small>

            </td>
        </tr>
        <tr>
            <td>
                <div class="description">
                    {% trans %}Description:{% endtrans %}  {{ entity.description|nl2br }}
                </div>
            </td>
        </tr>
        {#<tr>#}
            {#<td>#}
                {#<h4>#}
                    {#{% trans %}How to apply?{% endtrans %}#}
                {#</h4>#}
 {##}
                    {#<p class="how_to_apply">{{ entity.timeschedule }}</p>#}
            {#</td>#}
        {#</tr>#}
        <tr>
            <td>
                <div class="text-right">
                    <small>{% trans with {'%date%': entity.createdat|date('m/d/Y')} %}posted on %date%{% endtrans %}</small>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}