{% extends 'IbwJobMBundle::layout.html.twig' %}
 
{% block title %}
    Jobs in the {{ category.name }} category
{% endblock %}
 
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
 
{% block content %}
    <div class="category">
        <h1>{{ category.name }}</h1>
    </div>
 
    {{ include ('IbwJobMBundle:Job:list_job.html.twig', {'jobs': category.activejobs}) }}
 
    {% if last_page > 1 %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <a href="{{ path('IbwJobMBundle_category', { 'slug': category.slug, 'page': 1 }) }}">
                    <img src="{{ asset('bundles/ibwjobm/images/arrow-left.png') }}" alt="First page" title="First page" />
                </a>

                {#<a href="{{ path('IbwJobMBundle_category', { 'slug': category.slug, 'page': previous_page }) }}">#}
                    {#<img src="{{ asset('bundles/ibwjobm/images/previous.png') }}" alt="Previous page" title="Previous page" />#}
                {#</a>#}

                {% for page in 1..last_page %}
                    {% if page == current_page %}
                        <div class="pagination">
                        {{ page }}
                        </div>
                    {% else %}
                        <div class="pagination pagination-active">
                        <a href="{{ path('IbwJobMBundle_category', { 'slug': category.slug, 'page': page }) }}">{{ page }}</a>
                        </div>
                    {% endif %}
                {% endfor %}

                {#<a href="{{ path('IbwJobMBundle_category', { 'slug': category.slug, 'page': next_page }) }}">#}
                    {#<img src="{{ asset('bundles/ibwjobm/images/next.png') }}" alt="Next page" title="Next page" />#}
                {#</a>#}

                <a href="{{ path('IbwJobMBundle_category', { 'slug': category.slug, 'page': last_page }) }}">
                    <img src="{{ asset('bundles/ibwjobm/images/arrow-right.png') }}" alt="Last page" title="Last page" />
                </a>
            </div>
        </div>
    {% endif %}
 
    <div class="pagination_desc">
        <strong>{{ total_jobs }}</strong> jobs in this category

        {% if last_page > 1 %}
            - page <strong>{{ current_page }}/{{ last_page }}</strong>
        {% endif %}
    </div>

{% endblock %}

{#<div class="row">#}
    {#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">#}
        {#<a href="" class="pagination arrow"><img src="{{ asset('bundles/ibwjobm/images/arrow-left.png') }}"></a>#}
        {#<a href="#" class="pagination pagination-active">1</a>#}
        {#<a href="#" class="pagination">2</a>#}
        {#<a href="#" class="pagination">3</a>#}
        {#...#}
        {#<a href="#" class="pagination">25</a>#}
        {#<a href="#" class="pagination arrow"><img src="{{ asset('bundles/ibwjobm/images/arrow-right.png') }}"></a>#}
    {#</div>#}
{#</div>#}


