{% extends 'IbwJobMBundle::layout.html.twig' %}

{% form_theme edit_form 'IbwJobMBundle:tools:form.html.twig' %}

{% block content %}

    <div class="modal fade" id="create-section-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Închide{% endtrans %}</span></button>
                    <label>{% trans %}Nume secțiune{% endtrans %}</label>
                </div>
                <div class="modal-body">

                    <input type="text" class="form-control" id="new">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-black button-inactive" data-dismiss="modal">{% trans %}Anulează{% endtrans %}</button>
                    <button type="button" class="btn btn-black button-inactive" data-dismiss="modal"  onClick="addAnotherEdit()">{% trans %}Crează secțiune nouă{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>


<div class="bg-circle">
    <div class="container">
        <div class="row">
            <div class="col-xs-9 bag-color">
                <div class="row">
                    <div class="col-xs-4">
                        <ul class="nav nav-sidebar" id="sortable">
                            <li class="active"><a href="#Basicinformation" role="tab" data-toggle="tab"> {% trans %}Informații de bază{% endtrans %}</a></li>
                            <li><a href="#Workexperience" role="tab" data-toggle="tab">{% trans %}Experiență în muncă{% endtrans %}</a></li>
                            <li><a href="#Qualifications" role="tab" data-toggle="tab">{% trans %}Calificări{% endtrans %}</a></li>
                            <li><a href="#Education" role="tab" data-toggle="tab">{% trans %}Educație{% endtrans %}</a></li>
                            <li><a href="#Skills" role="tab" data-toggle="tab">{% trans %}Interese{% endtrans %}</a></li>
                            <li><a href="#Competence" role="tab" data-toggle="tab">{% trans %}Referințe{% endtrans %}</a></li>
                            {% for cv in user %}
                                {% if cv.newsection1 %}
                                    <li><a href="#new_section_1" role="tab" data-toggle="tab">{{ cv.newsection1name }}</a></li>
                                {% endif %}
                                {% if cv.newsection2 %}
                                    <li><a href="#new_section_2" role="tab" data-toggle="tab">{{ cv.newsection2name }}</a></li>
                                {% endif %}
                                {% if cv.newsection3 %}
                                    <li><a href="#new_section_3" role="tab" data-toggle="tab">{{ cv.newsection3name }}</a></li>
                                {% endif %}
                        </ul>
                                {% if (cv.newsection1) and (cv.newsection2) and (cv.newsection3) %}
                                    <button class="btn btn-default add-color " id="moreInputsEdit" data-toggle="modal" data-target="#create-section-edit" style="display:none">{% trans %}+ Adaugă secțiune nouă{% endtrans %}</button>
                                {% else %}
                                    <button class="btn btn-default add-color " id="moreInputsEdit" data-toggle="modal" data-target="#create-section-edit">{% trans %}+ Adaugă secțiune nouă{% endtrans %}</button>
                                {% endif %}
                            {% endfor %}
                    </div>
                    <div class="col-xs-8">
                        {{ form_start(edit_form, {'action': path('ibw_cv_update', {'token': entity.token})} ) }}
                        <!-- Tab panes -->
                        <div class="row">
                            {% for cv in user %}
                            <div class="col-md-3 dropdown">
                                <a href="#" class="dropdown-toggle btn-light" data-toggle="dropdown">
                                    <button class="btn btn-black button-inactive"><span  class="fa fa-download"></span>&nbsp;{% trans %}Descarcă{% endtrans %}</button>
                                </a>
                                <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path ('ibw_cv_download_pdf',{'token': cv.token}) }}">{% trans %}Descarcă{% endtrans %} pdf</a></li>

                                    <li><a href="{{ path ('ibw_cv_download_doc',{'token': cv.token}) }}">{% trans %}Descarcă{% endtrans %} doc</a></li>

                                    <li><a href="{{ path ('ibw_cv_download_html',{'token': cv.token}) }}">{% trans %}Descarcă{% endtrans %} html</a></li>
                                </ul>
                            </div>
                            {% endfor %}

                            <div class="col-md-4">
                                <button class="btn btn-black button-inactive"  type="submit"> {% trans %}Salvează CV{% endtrans %}</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-black button-inactive" type="button"  id="PreviewDateInModal" data-toggle="modal" data-target="#quick">{% trans %}Previzualizare{% endtrans %}</button>
                            </div>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane active" id="Basicinformation">
                                <h1>{% trans %}Informații de bază{% endtrans %}</h1>

                                <div class="col-xs-6">
                                    {{ form_label(edit_form.name) }}

                                    {{ form_errors(edit_form.name) }}
                                    {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control form-group'} }) }}
                                </div>

                                <div class="col-xs-6">
                                    {{ form_label(edit_form.email) }}

                                    {{ form_errors(edit_form.email) }}
                                    {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control form-group'} }) }}
                                </div>

                                <div class="col-xs-6">
                                    {{ form_label(edit_form.nationality) }}

                                    {{ form_errors(edit_form.nationality) }}
                                    {{ form_widget(edit_form.nationality, { 'attr': {'class': 'form-control form-group'} }) }}
                                </div>

                                <div class="col-xs-6">
                                    {{ form_label(edit_form.phone) }}

                                    {{ form_errors(edit_form.phone) }}
                                    {{ form_widget(edit_form.phone, { 'attr': {'class': 'form-control form-group'} }) }}
                                    <span class="information">{% trans %}Dacă aveți mai multe numere, separațile prin virgulă{% endtrans %}</span>
                                </div>

                                <div class="col-xs-6">
                                    {{ form_label(edit_form.websites) }}

                                    {{ form_errors(edit_form.websites) }}
                                    {{ form_widget(edit_form.websites, { 'attr': {'class': 'form-control form-group'} }) }}
                                    <span class="information">{% trans %}Dacă aveți mai multe adrese, separațile prin virgulă{% endtrans %}</span>
                                </div>

                                <div class="col-xs-6">
                                    {{ form_label(edit_form.street) }}

                                    {{ form_errors(edit_form.street) }}
                                    {{ form_widget(edit_form.street, { 'attr': {'class': 'form-control form-group'} }) }}
                                </div>

                                <div class="col-xs-6">
                                    {{ form_label(edit_form.city,'Alegeți orașul') }}

                                    {{ form_errors(edit_form.city) }}
                                    {{ form_widget(edit_form.city, { 'attr': {'class': 'form-control form-group'} }) }}
                                </div>

                                <div class="col-xs-6">
                                    {{ form_label(edit_form.country) }}

                                    {{ form_errors(edit_form.country) }}
                                    {{ form_widget(edit_form.country, { 'attr': {'class': 'form-control form-group'} }) }}
                                </div>

                                <div class="clearfix"></div>


                                <hr>
                                {% for cv in user %}
                                    {% if cv.getWebPath %}
                                        <img class="sizeImg pull-left" id="myImg" src="{{ cv.getWebPath | imagine_filter('my_thumb')}}"  />
                                    {% else %}
                                        <img class="sizeImg pull-left" id="myImg" src="{{ asset('bundles/ibwjobm/images/clear.jpg') }}"  />
                                    {% endif %}
                                {% endfor %}

                                <div class="col-xs-6">
                                    <div class="label-file">
                                        {{ form_label(edit_form.file) }}
                                    </div>
                                    {{ form_errors(edit_form.file) }}
                                    <span class="btn btn-default btn-file btn btn-black button-inactive btn-file">
                                        {% trans %} Alege foto {% endtrans %}  {{ form_widget(edit_form.file) }}
                                    </span>
                                        <button type="button" class="btn btn-default btn-file btn btn-black button-inactive " id="removebtn" onclick="removeImg()" style="display: none">Remove</button>
                                </div>

                                <div class="clearfix"></div>
                            </div>

                            <div class="tab-pane" id="Workexperience">
                                <div id="Workexperience-show-edit">
                                    <h1> {% trans %}Experiență în muncă{% endtrans %}</h1>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.job_title) }}

                                        {{ form_errors(edit_form.job_title) }}
                                        {{ form_widget(edit_form.job_title, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.company_name) }}

                                        {{ form_errors(edit_form.company_name) }}
                                        {{ form_widget(edit_form.company_name, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.start_date_work) }}

                                        {{ form_errors(edit_form.start_date_work) }}
                                        {{ form_widget(edit_form.start_date_work, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie{% endtrans %} 2005</span>
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.end_date_work) }}

                                        {{ form_errors(edit_form.end_date_work) }}
                                        {{ form_widget(edit_form.end_date_work, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie{% endtrans %} 2009</span>
                                    </div>

                                    <div>
                                        {{ form_label(edit_form.other_information_work) }}

                                        {{ form_errors(edit_form.other_information_work) }}
                                        {{ form_widget(edit_form.other_information_work) }}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <button type="button" class="btn btn-black button-inactive" id="removeIdWorkEdit" style="margin-top: 20px">{% trans %}Șterge{% endtrans %}</button>
                                        </div>
                                        <div class="col-md-5">
                                            <button type="button" class="btn btn-black button-inactive" id="addIdWorkEdit" style="margin-top: 20px">{% trans %}Adaugă câmp{% endtrans %}</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="Workexperience-show-new-edit">
                                    <h1> {% trans %}Experiență în muncă{% endtrans %}</h1>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.job_title_new) }}

                                        {{ form_errors(edit_form.job_title_new) }}
                                        {{ form_widget(edit_form.job_title_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.company_name_new) }}

                                        {{ form_errors(edit_form.company_name_new) }}
                                        {{ form_widget(edit_form.company_name_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.start_date_work_new) }}

                                        {{ form_errors(edit_form.start_date_work_new) }}
                                        {{ form_widget(edit_form.start_date_work_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie{% endtrans %} 2005</span>
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.end_date_work_new) }}

                                        {{ form_errors(edit_form.end_date_work_new) }}
                                        {{ form_widget(edit_form.end_date_work_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie{% endtrans %} 2009</span>
                                    </div>

                                    <div>
                                        {{ form_label(edit_form.other_information_work_new) }}

                                        {{ form_errors(edit_form.other_information_work_new) }}
                                        {{ form_widget(edit_form.other_information_work_new) }}
                                    </div>
                                    <button type="button" class="btn btn-black button-inactive" id="removeIdWorkNewEdit" style="margin-top: 20px">{% trans %}Șterge{% endtrans %}</button>
                                </div>
                                <button type="button" class="btn btn-black button-inactive" id="showWorkEdit" style="margin-top: 20px">{% trans %}Adaugă câmp{% endtrans %}</button>
                            </div>

                            <div class="tab-pane" id="Qualifications">
                                <h1> {% trans %}Calificări{% endtrans %} </h1>

                                <div>
                                    {{ form_label(edit_form.qualifications) }}

                                    {{ form_errors(edit_form.qualifications) }}
                                    {{ form_widget(edit_form.qualifications) }}
                                </div>
                            </div>
                            <div class="tab-pane" id="Education">
                                <div id="Education-show-edit">
                                    <h1> {% trans %}Educație{% endtrans %} </h1>
                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.specialization) }}

                                        {{ form_errors(edit_form.specialization) }}
                                        {{ form_widget(edit_form.specialization, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.institution_name) }}

                                        {{ form_errors(edit_form.institution_name) }}
                                        {{ form_widget(edit_form.institution_name, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.start_date_learn) }}

                                        {{ form_errors(edit_form.start_date_learn) }}
                                        {{ form_widget(edit_form.start_date_learn, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie{% endtrans %} 2005</span>
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.end_date_learn) }}

                                        {{ form_errors(edit_form.end_date_learn) }}
                                        {{ form_widget(edit_form.end_date_learn, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie{% endtrans %} 2009</span>
                                    </div>
                                    <div >
                                        {{ form_label(edit_form.other_information_education) }}

                                        {{ form_errors(edit_form.other_information_education) }}
                                        {{ form_widget(edit_form.other_information_education) }}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <button type="button" class="btn btn-black button-inactive" id="removeIdEduEdit" style="margin-top: 20px">{% trans %}Șterge{% endtrans %}</button>
                                        </div>
                                        <div class="col-md-5">
                                            <button type="button" class="btn btn-black button-inactive" id="addIdEduEdit" style="margin-top: 20px">{% trans %}Adaugă câmp{% endtrans %}</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="Education-show-new-edit">
                                    <h1> {% trans %}Educație{% endtrans %} </h1>
                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.specialization_new) }}

                                        {{ form_errors(edit_form.specialization_new) }}
                                        {{ form_widget(edit_form.specialization_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.institution_name_new) }}

                                        {{ form_errors(edit_form.institution_name_new) }}
                                        {{ form_widget(edit_form.institution_name_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.start_date_learn_new) }}

                                        {{ form_errors(edit_form.start_date_learn_new) }}
                                        {{ form_widget(edit_form.start_date_learn_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie 2005{% endtrans %}</span>
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_label(edit_form.end_date_learn_new) }}

                                        {{ form_errors(edit_form.end_date_learn_new) }}
                                        {{ form_widget(edit_form.end_date_learn_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie 2009{% endtrans %}</span>
                                    </div>
                                    <div >
                                        {{ form_label(edit_form.other_information_education_new) }}

                                        {{ form_errors(edit_form.other_information_education_new) }}
                                        {{ form_widget(edit_form.other_information_education_new) }}
                                    </div>
                                    <button type="button" class="btn btn-black button-inactive" id="removeIdEduNewEdit" style="margin-top: 20px">{% trans %}Șterge{% endtrans %}</button>
                                </div>
                                <button type="button" class="btn btn-black button-inactive" id="showEduEdit" style="margin-top: 20px">{% trans %}Adaugă câmp{% endtrans %}</button>
                            </div>
                            <div class="tab-pane" id="Skills">
                                <h1> {% trans %}Competențe{% endtrans %} </h1>

                                <div >
                                    {{ form_label(edit_form.skills) }}

                                    {{ form_errors(edit_form.skills) }}
                                    {{ form_widget(edit_form.skills) }}
                                </div>
                            </div>
                            <div class="tab-pane" id="Competence">
                                <h1> {% trans %}Referințe{% endtrans %} </h1>
                                <div >
                                    {{ form_label(edit_form.competence) }}

                                    {{ form_errors(edit_form.competence) }}
                                    {{ form_widget(edit_form.competence) }}
                                </div>
                            </div>
                            {% for cv in user %}
                                <div class="tab-pane" id="new_section_1">
                                    {% if cv.newsection1name %}
                                        <h1>{{ cv.newsection1name }}</h1>
                                    {% else %}
                                        <h1 id="new_section_1h"></h1>
                                    {% endif %}
                                    <div>
                                        {% if cv.newsection1name %}
                                            <label>{{ cv.newsection1name }}</label>
                                        {% else %}
                                            <label id="new_section_1l"></label>
                                        {% endif %}

                                        {{ form_errors(edit_form.new_section_1) }}
                                        {{ form_widget(edit_form.new_section_1) }}
                                    </div>
                                </div>
                                <div class="tab-pane" id="new_section_2">
                                    {% if cv.newsection2name %}
                                        <h1>{{ cv.newsection2name }}</h1>
                                    {% else %}
                                        <h1 id="new_section_2h"></h1>
                                    {% endif %}
                                    <div>
                                        {% if cv.newsection2name %}
                                            <label>{{ cv.newsection2name }}</label>
                                        {% else %}
                                            <label id="new_section_2l"></label>
                                        {% endif %}

                                        {{ form_errors(edit_form.new_section_2) }}
                                        {{ form_widget(edit_form.new_section_2) }}
                                    </div>
                                </div>
                                <div class="tab-pane" id="new_section_3">
                                    {% if cv.newsection3name %}
                                        <h1>{{ cv.newsection3name }}</h1>
                                    {% else %}
                                        <h1 id="new_section_3h"></h1>
                                    {% endif %}
                                    <div>
                                        {% if cv.newsection3name %}
                                            <label>{{ cv.newsection3name }}</label>
                                        {% else %}
                                            <label id="new_section_3l"></label>
                                        {% endif %}

                                        {{ form_errors(edit_form.new_section_3) }}
                                        {{ form_widget(edit_form.new_section_3) }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% for cv in user %}
    <div class="modal fade bs-example-modal-lg" id="quick" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Închide{% endtrans %}</span></button>
                </div>
                <div class="modal-body">
                    <div id="main">
                        {% if cv.logo %}
                            <div id="photo">
                                {#<img src="{{ cv.getWebPath  }}">#}
                                <img src="{{ cv.getWebPath | imagine_filter('my_thumb')}}">
                            </div>
                        {% endif %}
                        <div class="header photo">
                            {% if cv.name %}
                                <h1 id="title">{{ cv.name }}</h1>
                            {% endif %}
                        </div>
                        <div class="basic-info section">
                            {% if cv.email %}
                                <p class="email"><label>{% trans %}Adresă de e-mail{% endtrans %}<span class="colon">:</span></label> <span class="value" id="cv_emailModal">{{ cv.email }}</span></p>
                            {% endif %}

                            {% if cv.websites %}
                            <p class="website"><label>{% trans %}Website{% endtrans %}<span class="colon">:</span></label> <span class="value" id="cv_websitesModal">{{ cv.websites }}</span></p>
                            {% endif %}

                            {% if cv.phone %}
                                <p class="phone"><label>{% trans %}Telefon{% endtrans %}<span class="colon">:</span></label> <span class="value" id="cv_phoneModal">{{ cv.phone }}</span></p>
                            {% endif %}

                            {% if (cv.street) or (cv.city) or (cv.country) %}
                            <p class="address"><label>{% trans %}Adresă{% endtrans %}<span class="colon">:</span></label>
                                <span class="value">
                                    <span id ="cv_addressstreetModal">{{ cv.street }}</span> <br /> <span id="cv_addresscityModal">{{ cv.city }}</span> <br /> <span id="cv_addresscountryModal">{{ cv.country }}</span></span>
                            </p>
                            {% endif %}
                            <div class="clear"> </div>
                        </div><!-- basic-info //-->

                        <div class="section section-work">
                            <h2 class="title">{% trans %}Experiență în muncă{% endtrans %}</h2>
                            <div class="set">
                                <div class="item">

                                    <h3>{% if cv.companyname %}<span class="company l " id="cv_companynameModal">{{ cv.companyname }} {% endif %}</span>
                                        {% if cv.startdatework %}<span class="date r" id="cv_startdateworkModal">{{ cv.startdatework }}{% endif %} {% if cv.enddatework %}&mdash; <span id="cv_enddateworkModal" >{{ cv.enddatework }}</span> {% endif %}</span>
                                    </h3>
                                    <span class="clear"> </span>
                                    {% if cv.jobtitle %}<span class="job_title" id="cv_jobtitleModal">{{ cv.jobtitle }}</span>{% endif %} {% if cv.otherinformationwork %}<span class="info" id="cv_otherinformationworkModal">{{ cv.otherinformationwork }}</span>{% endif %}<span class="clear"> </span>
                                </div>

                                <div class="item">

                                    <h3>{% if cv.companynamenew %}<span class="company l " id="cv_companynamenewModal">{{ cv.companynamenew }} {% endif %}</span>
                                        {% if cv.startdateworknew %}<span class="date r" id="cv_startdateworknewModal">{{ cv.startdateworknew }}{% endif %} {% if cv.enddateworknew %}&mdash; <span id="cv_enddateworknewModal" >{{ cv.enddateworknew }}</span> {% endif %}</span>
                                    </h3>
                                    <span class="clear"> </span>
                                    {% if cv.jobtitlenew %}<span class="job_title" id="cv_jobtitlenewModal">{{ cv.jobtitlenew }}</span>{% endif %} {% if cv.otherinformationworknew %}<span class="info" id="cv_otherinformationworknewModal">{{ cv.otherinformationworknew }}</span>{% endif %}<span class="clear"> </span>
                                </div>
                            </div>
                        </div>

                        {% if cv.qualifications %}
                            <div class="section section-qualifications">
                                <h2 class="title">{% trans %}Calificări{% endtrans %}</h2>
                                <div class="set">
                                    <div class="item">
                                        <span class="info" id="cv_qualificationsModal">{{ cv.qualifications }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="section section-education">
                            <h2 class="title">{% trans %}Educație{% endtrans %}</h2>
                            <div class="set">
                                <div class="item">
                                    <h3> {% if cv.specialization  %}<span class="course l" id="cv_specializationModal">{{ cv.specialization }}</span>{% endif %}
                                        {% if cv.startdatelearn %}<span class="date r" id="cv_startdatelearnModal">{{ cv.startdatelearn }} {% endif %} {% if cv.enddatelearn %} &mdash; <span id="cv_enddatelearnModal">{{ cv.enddatelearn }}</span></span> {% endif %}
                                    </h3>
                                    <span class="clear"> </span>
                                    {% if cv.institutionname %}<span class="school" id="cv_institutionnameModal">{{ cv.institutionname }}</span>{% endif %} {% if cv.otherinformationeducation  %}<span class="info" id="cv_otherinformationeducationModal">{{ cv.otherinformationeducation }}</span>{% endif %}<span class="clear"> </span>
                                </div>

                                <div class="item">
                                    <h3> {% if cv.specializationnew  %}<span class="course l" id="cv_specializationnewModal">{{ cv.specializationnew }}</span>{% endif %}
                                        {% if cv.startdatelearnnew %}<span class="date r" id="cv_startdatelearnnewModal">{{ cv.startdatelearnnew }} {% endif %} {% if cv.enddatelearnnew %} &mdash; <span id="cv_enddatelearnnewModal">{{ cv.enddatelearnnew }}</span></span> {% endif %}
                                    </h3>
                                    <span class="clear"> </span>
                                    {% if cv.institutionnamenew %}<span class="school" id="cv_institutionnamenewModal">{{ cv.institutionnamenew }}</span>{% endif %} {% if cv.otherinformationeducationnew  %}<span class="info" id="cv_otherinformationeducationnewModal">{{ cv.otherinformationeducationnew }}</span>{% endif %}<span class="clear"> </span>
                                </div>
                            </div>
                        </div>

                        {% if cv.skills  %}
                            <div class="section section-skills">
                                <h2 class="title">{% trans %}Competențe{% endtrans %}</h2>
                                <div class="set">
                                    <div class="item">
                                        <span class="info" id="cv_skillsModal">{{ cv.skills }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if cv.competence %}
                            <div class="section section-references">
                                <h2 class="title">{% trans %}Referințe{% endtrans %}</h2>
                                <div class="set">
                                    <div class="item">
                                        <span class="info" id="cv_competenceModal">{{ cv.competence }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if cv.newsection1 %}
                            <div class="section section">
                                <h2 class="title">{{ cv.newsection1name }}</h2>
                                <div class="set">
                                    <div class="item">
                                        <span class="info" id="cv_newsection1Modal">{{ cv.newsection1 }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if cv.newsection2 %}
                            <div class="section section">
                                <h2 class="title">{{ cv.newsection2name }}</h2>
                                <div class="set">
                                    <div class="item">
                                        <span class="info" id="cv_newsection2Modal">{{ cv.newsection2 }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if cv.newsection3 %}
                            <div class="section section">
                                <h2 class="title">{{ cv.newsection3name }}</h2>
                                <div class="set">
                                    <div class="item">
                                        <span class="info" id="cv_newsection3Modal">{{ cv.newsection3 }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}
