{% extends 'IbwJobMBundle::layout.html.twig' %}


{% block content %}

    {{ parent() }}

    <div class="modal fade" id="create-cv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span  aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Închide{% endtrans %}</span></button>


                    <label>{% trans %}Numele cv-ului{% endtrans %}</label>
                </div>
                <div class="modal-body">
                    <form action="{{ path ('ibw_cv_create') }}" method="post">
                        <div class="col-xs-9">
                            <input type="text" name="title" class="form-control">
                        </div>
                        <div class="col-xs-3">
                            <button type="submit" class="btn btn-black button-active">Creează CV-ul</button>
                        </div>
                        <label class="select-language">{% trans %}Limbă{% endtrans %}</label>
                        <div class="col-xs-12">
                            <select name="lang">
                                <option value="en">
                                    English
                                </option>
                                <option value="ru">
                                    Pусский
                                </option>
                                <option value="ro">
                                    Română
                                </option>
                            </select>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="img-background">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1>
                        {% trans %}CV-ul frumos elaborat este gata pentru expediere în doar cîteva minute. {% endtrans %}
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row social-button">
            <div class="col-md-4">
                <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki" data-yashareTheme="counter"></div>
                <script type="IN/Share" data-counter="right"></script>
                {#<a href="https://www.linkedin.com/cws/share?url=http://jobplus.md">link</a>#}
                <a href="https://www.linkedin.com/cws/share?url=http://jobplus.md" target="_blank"><img src="{{ asset('bundles/ibwjobm/images/linkedin.png') }}"  width="22" height="22"></a>
            </div>
        </div>
    </div>


    <div class="container-fluid" style="padding:0 20%">
        <div class="row button-center">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-black button-active" id="moreInputs" data-toggle="modal"data-target="#create-cv" style="width: 170px; font-size: 20px">{% trans %}Creează CV-ul{% endtrans %}</button>
            </div>
        </div>

        <div class="row" style="margin-top: 50px">
            <div class="col-md-12 text-center distance">
                <img src="{{ asset('bundles/ibwjobm/images/11.png') }}" width="150px"><b style="font-size: 20px">{% trans %}este:{% endtrans %}</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-left">
                <h1 class="uppercase-text-index">{% trans %}Simplu ca “bună ziua”{% endtrans %}</h1>

                <div class="size-text-index">{% trans %}Profesioniștii au elaborat deja structura CV – lui pentru tine. Ție îți rămâne doar să introduci informația ta în rubricile corespunzătoare.{% endtrans %}</div>
            </div>
            <div class="col-md-6 text-center">
                <img src="{{ asset('bundles/ibwjobm/images/hat.png') }}" width="150px">
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6 text-center ">
                <img src="{{ asset('bundles/ibwjobm/images/clock.png') }}" width="150px">
            </div>
            <div class="col-md-6 text-right">
                <h1 class="uppercase-text-index">{% trans %}Operativ{% endtrans %}</h1>

                <div class="size-text-index">{% trans %}Tot procesul îți va lua maxim 30 de minute. Folosește timpul economisit pe ceva plăcut ție. Spre exemplu, ca să savurezi o cafea.{% endtrans %}<img src=http://yoursmiles.org/csmile/wink/c0521.gif></div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6 text-left">
                <h1 class="uppercase-text-index">{% trans %}Toate CV – urile într-un singur loc{% endtrans %}</h1>

                <div class="size-text-index">{% trans %}Creează-ți cîteva CV–uri pentru funcții diferite și păstrează–le pe toate într-un singur loc. Comod!{% endtrans %}</div>
            </div>
            <div class="col-md-6 text-center">
                <img src="{{ asset('bundles/ibwjobm/images/folder.png') }}" width="150px">
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6 text-center">
                <img src="{{ asset('bundles/ibwjobm/images/globe.png') }}" width="150px">
            </div>
            <div class="col-md-6 text-right">
                <h1 class="uppercase-text-index">{% trans %}3 limbi la alegere{% endtrans %}</h1>

                <div class="size-text-index">{% trans %}Angajatorul cere CV–ul într-o anumită limbă? Fără probleme! Creează-ți CV–ul în limba română, rusă sau engleză la alegerea ta.{% endtrans %}</div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6 text-left">
                <h1 class="uppercase-text-index">{% trans %}Format comod pentru tine{% endtrans %}</h1>

                <div class="size-text-index">{% trans %}Descarcă-ţi CV-ul pentru expediere angajatorului în formatul Word sau PDF, sau expediază-i doar link-ul la CV-ul tău în format electronic. El va aprecia!{% endtrans %}</div>
            </div>
            <div class="col-md-6 text-center">
                <img src="{{ asset('bundles/ibwjobm/images/formats.png') }}" width="150px">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="margin-top: 90px">
                <button type="button" class="btn btn-black button-active" id="moreInputs" data-toggle="modal" data-target="#create-cv"   style="width: 170px; font-size: 20px; margin-bottom: 100px;">{% trans %}Creează CV-ul{% endtrans %}</button>
            </div>
        </div>

    </div>
{% endblock %}

