{% extends 'IbwJobMBundle::layout.html.twig' %}


{% form_theme form 'IbwJobMBundle:tools:form.html.twig' %}


{% block content %}
    {{ parent() }}

    <!-- Modal -->
    <div class="modal fade" id="create-section" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Închide{% endtrans %}</span></button>
                    <label>{% trans %}Nume secțiune{% endtrans %}</label>
                </div>
                <div class="modal-body">

                    <input type="text" class="form-control" id="new">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-black button-inactive" data-dismiss="modal">{% trans %}Anulează{% endtrans %}</button>
                    <button type="button" class="btn btn-black button-inactive" data-dismiss="modal"  onClick="addAnother()">{% trans %}Crează secțiune nouă{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-circle">
        <div class="container">
            <div class="row">
                <div class="col-xs-9 bag-color">
                    <div class="row">
                    <h1 style="margin-left: 17px">{% trans %}Noul meu CV{% endtrans %}</h1>
                        <div class="col-xs-6 col-md-4">
                            <ul class="nav nav-sidebar" id="sortable">
                                <li class="active"><a href="#Basicinformation" role="tab" data-toggle="tab"> {% trans %}Informații de bază{% endtrans %}</a>
                                    <span class="renameSection"></span>
                                </li>
                                <li><a href="#Workexperience" role="tab" data-toggle="tab">{% trans %}Experiență în muncă{% endtrans %}</a>
                                    <span class="renameSection"></span>
                                </li>
                                <li><a href="#Qualifications" role="tab" data-toggle="tab">{% trans %}Calificări{% endtrans %}</a>
                                    <span class="renameSection"></span>
                                </li>
                                <li><a href="#Education" role="tab" data-toggle="tab">{% trans %}Educație{% endtrans %}</a>
                                    <span class="renameSection"></span>
                                </li>
                                <li><a href="#Skills" role="tab" data-toggle="tab">{% trans %}Competențe{% endtrans %}</a>
                                    <span class="renameSection"></span>
                                </li>
                                <li><a href="#Competence" role="tab" data-toggle="tab">{% trans %}Referințe{% endtrans %}</a>
                                    <span class="renameSection"></span>
                                </li>
                            </ul>
                            <button class="btn btn-default add-color " id="moreInputs" data-toggle="modal" data-target="#create-section">{% trans %}+ Adaugă secțiune nouă{% endtrans %}</button>
                        </div>
                        <div class="col-xs-8">
                        {{ form_start(form, {'method': 'POST', 'action': path('ibw_cv_create')}) }}

                        <div class="tab-content">
                            <div class="tab-pane active" id="Basicinformation">
                                <h1> {% trans %}Informații de bază{% endtrans %}</h1>
                                <div class="col-xs-6">
                                    {{ form_label(form.name) }}

                                    {{ form_errors(form.name) }}
                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control form-group'} }) }}
                                </div>

                                <div class="col-xs-6">
                                    {{ form_label(form.email) }}

                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control form-group'} }) }}
                                </div>

                                <div class="col-xs-6">
                                    {{ form_label(form.nationality) }}

                                    {{ form_errors(form.nationality) }}
                                    {{ form_widget(form.nationality, { 'attr': {'class': 'form-control form-group'} }) }}
                                </div>

                                <div class="col-xs-6">
                                    {{ form_label(form.phone) }}

                                    {{ form_errors(form.phone) }}
                                    {{ form_widget(form.phone, { 'attr': {'class': 'form-control form-group'} }) }}
                                    <span class="information">{% trans %}Dacă aveți mai multe numere, separațile prin virgulă{% endtrans %}</span>
                                </div>

                                <div class="col-xs-6">
                                    {{ form_label(form.websites) }}

                                    {{ form_errors(form.websites) }}
                                    {{ form_widget(form.websites, { 'attr': {'class': 'form-control form-group'} }) }}
                                    <span class="information">{% trans %}Dacă aveți mai multe adrese, separațile prin virgulă{% endtrans %}</span>
                                </div>

                                <div class="col-xs-6">
                                    {{ form_label(form.street) }}

                                    {{ form_errors(form.street) }}
                                    {{ form_widget(form.street, { 'attr': {'class': 'form-control form-group'} }) }}
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-xs-6">
                                    {{ form_label(form.city,'Alegeți orașul') }}

                                    {{ form_errors(form.city) }}
                                    {{ form_widget(form.city, { 'attr': {'class': 'form-control form-group'} }) }}
                                </div>

                                <div class="col-xs-6">
                                    {{ form_label(form.country) }}

                                    {{ form_errors(form.country) }}
                                    {{ form_widget(form.country, { 'attr': {'class': 'form-control form-group'} }) }}
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-xs-6">
                                    {{ form_widget(form.cv_name) }}
                                    {#{{ form_widget(form.cv_name, {value: nameCv }) }}#}
                                </div>
                                <div class="col-xs-6">
                                    {{ form_widget(form.language) }}
                                </div>
                                <div class="col-xs-6">
                                    {{ form_widget(form.new_section_1_name) }}
                                </div>
                                <div class="col-xs-6">
                                    {{ form_widget(form.new_section_2_name) }}
                                </div>
                                <div class="col-xs-6">
                                    {{ form_widget(form.new_section_3_name) }}
                                </div>

                                <hr>

                                <img class="sizeImg pull-left" id="myImg" src=""/>

                                <div class="col-xs-6">
                                    <div class="label-file">
                                        {{ form_label(form.file) }}
                                    </div>
                                    {{ form_errors(form.file) }}
                                    <span class="btn btn-default btn-file btn btn-black button-inactive">
                                             {% trans %} Alege foto {% endtrans %}  {{ form_widget(form.file) }}
                                    </span>

                                    <button type="button" class="btn btn-default btn btn-black button-inactive" id="removebtn" onclick="removeImg()"  style="display: none">Remove</button>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <div class="tab-pane" id="Workexperience">
                                <div id="Workexperience-show">
                                    <h1> {% trans %}Experiență în muncă{% endtrans %}</h1>

                                    <div class="col-xs-6">
                                        {{ form_label(form.job_title) }}

                                        {{ form_errors(form.job_title) }}
                                        {{ form_widget(form.job_title, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.company_name) }}

                                        {{ form_errors(form.company_name) }}
                                        {{ form_widget(form.company_name, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.start_date_work) }}

                                        {{ form_errors(form.start_date_work) }}
                                        {{ form_widget(form.start_date_work, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie{% endtrans %} 2005</span>
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.end_date_work) }}

                                        {{ form_errors(form.end_date_work) }}
                                        {{ form_widget(form.end_date_work, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie{% endtrans %} 2009</span>
                                    </div>

                                    <div>
                                        {{ form_label(form.other_information_work) }}

                                        {{ form_errors(form.other_information_work) }}
                                        {{ form_widget(form.other_information_work) }}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <button type="button" class="btn btn-black button-inactive" id="removeIdWork" style="margin-top: 20px">{% trans %}Șterge{% endtrans %}</button>
                                        </div>
                                        <div class="col-md-5">
                                            <button type="button" class="btn btn-black button-inactive" id="addIdWork" style="margin-top: 20px">{% trans %}Adaugă câmp{% endtrans %}</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="Workexperience-show-new">
                                    <h1> {% trans %}Experiență în muncă{% endtrans %}</h1>

                                    <div class="col-xs-6">
                                        {{ form_label(form.job_title_new) }}

                                        {{ form_errors(form.job_title_new) }}
                                        {{ form_widget(form.job_title_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.company_name_new) }}

                                        {{ form_errors(form.company_name_new) }}
                                        {{ form_widget(form.company_name_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.start_date_work_new) }}

                                        {{ form_errors(form.start_date_work_new) }}
                                        {{ form_widget(form.start_date_work_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie{% endtrans %} 2005</span>
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.end_date_work_new) }}

                                        {{ form_errors(form.end_date_work_new) }}
                                        {{ form_widget(form.end_date_work_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie{% endtrans %} 2009</span>
                                    </div>

                                    <div>
                                        {{ form_label(form.other_information_work_new) }}

                                        {{ form_errors(form.other_information_work_new) }}
                                        {{ form_widget(form.other_information_work_new) }}
                                    </div>
                                    <button type="button" class="btn btn-black button-inactive" id="removeIdWorkNew" style="margin-top: 20px">{% trans %}Șterge{% endtrans %}</button>
                                </div>
                                <button type="button" class="btn btn-black button-inactive" id="showWork" style="margin-top: 20px">{% trans %}Adaugă câmp{% endtrans %}</button>
                            </div>

                            <div class="tab-pane" id="Qualifications">
                                <h1> {% trans %}Calificări{% endtrans %} </h1>
                                <div>
                                    {{ form_label(form.qualifications) }}

                                    {{ form_errors(form.qualifications) }}
                                    {{ form_widget(form.qualifications) }}
                                </div>
                            </div>
                            <div class="tab-pane" id="Education">
                                <div id="Education-show">
                                    <h1> {% trans %}Educație{% endtrans %} </h1>
                                    <div class="col-xs-6">
                                        {{ form_label(form.specialization) }}

                                        {{ form_errors(form.specialization) }}
                                        {{ form_widget(form.specialization, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_label(form.institution_name) }}

                                        {{ form_errors(form.institution_name) }}
                                        {{ form_widget(form.institution_name, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_label(form.start_date_learn) }}

                                        {{ form_errors(form.start_date_learn) }}
                                        {{ form_widget(form.start_date_learn, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie{% endtrans %} 2005</span>
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_label(form.end_date_learn) }}

                                        {{ form_errors(form.end_date_learn) }}
                                        {{ form_widget(form.end_date_learn, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie{% endtrans %} 2009</span>
                                    </div>
                                    <div >
                                        {{ form_label(form.other_information_education) }}

                                        {{ form_errors(form.other_information_education) }}
                                        {{ form_widget(form.other_information_education) }}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <button type="button" class="btn btn-black button-inactive" id="removeIdEdu" style="margin-top: 20px;">{% trans %}Șterge{% endtrans %}</button>
                                        </div>
                                        <div class="col-md-5">
                                            <button type="button" class="btn btn-black button-inactive" id="addIdEdu" style="margin-top: 20px;">{% trans %}Adaugă câmp{% endtrans %}</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="Education-show-new">
                                    <h1> {% trans %}Educație{% endtrans %} </h1>
                                    <div class="col-xs-6">
                                        {{ form_label(form.specialization_new) }}

                                        {{ form_errors(form.specialization_new) }}
                                        {{ form_widget(form.specialization_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_label(form.institution_name_new) }}

                                        {{ form_errors(form.institution_name_new) }}
                                        {{ form_widget(form.institution_name_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_label(form.start_date_learn_new) }}

                                        {{ form_errors(form.start_date_learn_new) }}
                                        {{ form_widget(form.start_date_learn_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie{% endtrans %} 2005</span>
                                    </div>
                                    {#<div class="col-xs-12 col-sm-6 col-md-3 col-lg-6">#}
                                    <div class="col-xs-6">
                                        {{ form_label(form.end_date_learn_new) }}

                                        {{ form_errors(form.end_date_learn_new) }}
                                        {{ form_widget(form.end_date_learn_new, { 'attr': {'class': 'form-control form-group'} }) }}
                                        <span class="information">{% trans %}Ex: Ianuarie{% endtrans %} 2009</span>
                                    </div>
                                    <div >
                                        {{ form_label(form.other_information_education_new) }}

                                        {{ form_errors(form.other_information_education_new) }}
                                        {{ form_widget(form.other_information_education_new) }}
                                    </div>
                                    <button type="button" class="btn btn-black button-inactive" id="removeIdEduNew" style="margin-top: 20px;">{% trans %}Șterge{% endtrans %}</button>
                                </div>
                                <button type="button" class="btn btn-black button-inactive" id="showEdu" style="margin-top: 20px;">{% trans %}Adaugă câmp{% endtrans %}</button>
                            </div>
                            <div class="tab-pane" id="Skills">
                                <h1> {% trans %}Competențe{% endtrans %} </h1>
                                <div >
                                    {{ form_label(form.skills) }}

                                    {{ form_errors(form.skills) }}
                                    {{ form_widget(form.skills) }}
                                </div>
                            </div>
                            <div class="tab-pane" id="Competence">
                                <h1> {% trans %}Referințe{% endtrans %} </h1>
                                <div >
                                    {{ form_label(form.competence) }}

                                    {{ form_errors(form.competence) }}
                                    {{ form_widget(form.competence) }}
                                </div>
                            </div>
                            <div class="tab-pane" id="new_section_1">
                                <h1 id="new_section_1h"></h1>
                                <div>
                                    <label id="new_section_1l"></label>
                                    {{ form_errors(form.new_section_1) }}
                                    {{ form_widget(form.new_section_1) }}
                                </div>
                            </div>
                            <div class="tab-pane" id="new_section_2">
                                <h1 id="new_section_2h"></h1>
                                <div>
                                    <label id="new_section_2l"></label>

                                    {{ form_errors(form.new_section_2) }}
                                    {{ form_widget(form.new_section_2) }}
                                </div>
                            </div>
                            <div class="tab-pane" id="new_section_3">
                                <h1 id="new_section_3h"></h1>
                                <div>
                                    <label id="new_section_3l"></label>

                                    {{ form_errors(form.new_section_3) }}
                                    {{ form_widget(form.new_section_3) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                        <div class="container" style="margin: 30px 0px 0px">
                            {#<div class="row">#}
                            <div class="col-xs-11 text-right">
                                <button class="btn btn-black button-inactive"  type="submit"> {% trans %}Salvează CV{% endtrans %}</button>
                                <button class="btn btn-black button-inactive" type="button"  id="addDateInModal" data-toggle="modal" data-target="#quickPreview" style="margin: 10px 0px;">{% trans %}Previzualizare{% endtrans %}</button>
                            </div>
                            {#</div>#}
                        </div>
                        {{ form_end(form) }}
    </div>

    <div class="modal fade bs-example-modal-lg" id="quickPreview" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Închide{% endtrans %}</span></button>
                </div>
                <div class="modal-body">
                    <div id="main">
                        <div id="photo">
                            {#<img src="{{ cv.getWebPath | imagine_filter('my_thumb')}}">#}
                        </div>
                        <div class="header photo">
                            <h1 id="title"></h1>
                        </div>
                        <div class="basic-info section">
                            <p class="email" id="appendEmail">
                                <label>{% trans %}Adresă de e-mail{% endtrans %}
                                    <span class="colon">:</span>
                                </label>
                                <span class="value" id="cv_emailModal"></span>
                            </p>
                            <p class="website" id="appendWebsite">
                                <label>{% trans %}Website{% endtrans %}
                                    <span class="colon">:</span>
                                </label>
                                <span class="value" id="cv_websitesModal"></span>
                            </p>
                            <p class="phone" id="appendPhone">
                                <label>{% trans %}Telefon{% endtrans %}
                                    <span class="colon">:</span>
                                </label>
                                <span class="value" id="cv_phoneModal"></span>
                            </p>
                            <p class="address" id="appendAddress">
                                <label>{% trans %}Adresă{% endtrans %}
                                    <span class="colon">:</span>
                                </label>
                                <span class="value">
                                    <span id ="cv_addressstreetModal"></span>
                                    <br />
                                    <span id="cv_addresscityModal"></span>
                                    <br />
                                    <span id="cv_addresscountryModal"></span>
                                </span>
                            </p>
                            <div class="clear"> </div>
                        </div><!-- basic-info //-->

                        <div class="section section-work" id="appendExperience">
                            <h2 class="title">{% trans %}Experiență în muncă{% endtrans %}</h2>
                            <div class="set">
                                <div class="item">

                                    <h3><span class="company l " id="cv_companynameModal"></span>
                                        <span class="date r" id="cv_startdateworkModal">&mdash;<span id="cv_enddateworkModal"></span></span>


                                    </h3>
                                    <span class="clear"> </span>
                                    <span class="job_title" id="cv_jobtitleModal"></span>
                                    <span class="info" id="cv_otherinformationworkModal"></span>
                                    <span class="clear"> </span>
                                </div>

                                <div class="item">

                                    <h3><span class="company l " id="cv_companynamenewModal"></span>
                                        <span class="date r" id="cv_startdateworknewModal">&mdash;
                                            <span id="cv_enddateworknewModal"></span>
                                        </span>
                                    </h3>
                                    <span class="clear"> </span>
                                    <span class="job_title" id="cv_jobtitlenewModal"></span>
                                    <span class="info" id="cv_otherinformationworknewModal"></span>
                                    <span class="clear"> </span>
                                </div>
                            </div>
                        </div>


                        <div class="section section-qualifications" id="appendQualifications">
                            <h2 class="title">{% trans %}Calificări{% endtrans %}</h2>
                            <div class="set">
                                <div class="item">
                                    <span class="info" id="cv_qualificationsModal"></span>
                                </div>
                            </div>
                        </div>

                        <div class="section section-education" id="appendEducation">
                            <h2 class="title">{% trans %}Educație{% endtrans %}</h2>
                            <div class="set">
                                <div class="item">
                                    <h3> <span class="course l" id="cv_specializationModal"></span>
                                        <span class="date r" id="cv_startdatelearnModal">&mdash; <span id="cv_enddatelearnModal"></span></span>
                                    </h3>
                                    <span class="clear"> </span>
                                    <span class="school" id="cv_institutionnameModal"></span><span class="info" id="cv_otherinformationeducationModal"></span><span class="clear"> </span>
                                </div>

                                <div class="item">
                                    <h3> <span class="course l" id="cv_specializationnewModal"></span>
                                        <span class="date r" id="cv_startdatelearnnewModal">&mdash; <span id="cv_enddatelearnnewModal"></span></span>
                                    </h3>
                                    <span class="clear"> </span>
                                    <span class="school" id="cv_institutionnamenewModal"></span><span class="info" id="cv_otherinformationeducationnewModal"></span><span class="clear"> </span>
                                </div>
                            </div>
                        </div>

                        <div class="section section-skills" id="appendSkills">
                            <h2 class="title">{% trans %}Competențe{% endtrans %}</h2>
                            <div class="set">
                                <div class="item">
                                    <span class="info" id="cv_skillsModal"></span>
                                </div>
                            </div>
                        </div>

                        <div class="section section-references" id="appendCompetence">
                            <h2 class="title">{% trans %}Referințe{% endtrans %}</h2>
                            <div class="set">
                                <div class="item">
                                    <span class="info" id="cv_competenceModal"></span>
                                </div>
                            </div>
                        </div>

                        <div class="section section" id="appendSection1">
                            <h2 class="title">{% trans %}Prima secțiune{% endtrans %}</h2>
                            <div class="set">
                                <div class="item">
                                    <span class="info" id="cv_newsection1Modal"></span>
                                </div>
                            </div>
                        </div>

                        <div class="section section" id="appendSection2">
                            <h2 class="title">{% trans %}A doua secțiune{% endtrans %}</h2>
                            <div class="set">
                                <div class="item">
                                    <span class="info" id="cv_newsection2Modal"></span>
                                </div>
                            </div>
                        </div>

                        <div class="section section" id="appendSection3">
                            <h2 class="title">{% trans %}A treia secțiune{% endtrans %}</h2>
                            <div class="set">
                                <div class="item">
                                    <span class="info" id="cv_newsection3Modal"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

