<html>


{% block stylesheet %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" href="{{ asset('favicon.png') }}" type="image/png" sizes="32x16">
        <style type="text/css">
            body {
                background: #f0f0f0;
                margin: 0;
                padding: 0;

                font-family: 'Helvetica Neue', Helvetica, Arial;
                line-height: 18px;
                font-size: 12px;

                color: #222;
            }
            h1, h2, h3, h4 {
                margin: 0 0 15px 0;
                padding: 0;
                font-weight: normal;
            }
            h1 {
                font-size: 500%;
            }
            h2 {
                font-size: 210%;
            }
            h3 {
                font-size: 150%;
            }

            p {
                margin: 0 0 10px 0;
            }
            a {
                color: #222;
            }
            /* ________________________________________________________ */

            .clear {
                clear: both;
            }

            #main {
                background: #fff;
                width: 900px;
                padding: 35px;
                margin: 0 auto 15px auto;
                overflow: hidden;

                box-shadow: 0 0 6px #ccc;
            }

            #title {
                margin: 0px 0 30px 0;
                line-height: 70px;
                text-align: center;
                color: #111;
            }

            p label {
                float: left;
                margin-right: 10px;
                min-width: 50px;
            }
            p label span.colon {
                float: right;
            }
            p span.value {
                float: left;
                width: 70%;
                display: block;
            }

            .section {
                margin-bottom: 40px;
                padding-bottom: 20px;
            }

            .item {
                margin: 0 0 20px 0;
            }

            .basic-info {
                padding: 0px 0 0px 140px;

            }
            .basic-info p {
                float: left;
                width: 48%;
                margin: 0 0 0px 0;
            }
            .basic-info p.full {
                width: 100%;
                float: none;
            }
            .basic-info .r {
                float: right;
            }

            /* education _____________________________ */

            .section .title {
                border-bottom: 1px solid #ddd;
                padding-bottom: 5px;
            }
            .section span {
                display: block;
            }
            .section h3 span.l, .section span.r {
                width: 49%;
                float: left;
            }
            .section span.r {
                float: right;
                text-align: right;
            }
            .section-education .school,
            .section-work .job_title {
                font-size: 120%;
                display: block;
                margin: 5px 0 5px 0;
            }

            /* ___ photo ___ */
            #photo {
                width: 160px;
                height: 200px;
                overflow: hidden;
                float: left;
                margin-top: 12px;
                border-radius: 4px;
            }
            #photo img {
                width: 100%;
                height: auto;
            }

            .header.photo {
                margin-left: 190px;
            }
            .header.photo #title {
                text-align: left;
            }
            .header.photo .basic-info {
                float: none;
                padding: 0;
            }

            @media screen and (max-width: 950px) {
                body {
                    background: #fff;
                }
                #main {
                    box-shadow: none;
                    padding: 0;
                    padding: 5px;
                }
            }
        </style>
    </head>
{% endblock %}

<body>
{% block content %}
    {% for cv in resume %}
        <div id="main">
            {% if cv.logo %}
                <div id="photo">
                    {#<img src="http://jobplus.md/{{ cv.getWebPath }}">#}
                    <img src="{{ cv.getWebPath | imagine_filter('my_thumb')}}">
                </div>
            {% endif %}
            <div class="header photo">
                {% if cv.name %}
                    <h1 id="title">{{ cv.name }}</h1>
                {% endif %}
            </div>
            <div class="basic-info section">
                {% if cv.email %}
                    <p class="email"><label>{% trans %}Adresă de e-mail{% endtrans %}<span class="colon">:</span></label> <span class="value">{{ cv.email }}</span></p>
                {% endif %}

                {% if cv.websites %}
                    <p class="website"><label>{% trans %}Website{% endtrans %}<span class="colon">:</span></label> <span class="value">{{ cv.websites }}</span></p>
                {% endif %}

                {% if cv.phone %}
                    <p class="phone"><label>{% trans %}Telefon{% endtrans %}<span class="colon">:</span></label> <span class="value">{{ cv.phone }}</span></p>
                {% endif %}

                {% if (cv.street) or (cv.city) or (cv.country) %}
                    <p class="address "><label>{% trans %}Adresă{% endtrans %}<span class="colon">:</span></label>
                    <span class="value">
                        {{ cv.street }} <br />  {{ cv.city }} <br />{{ cv.country }} </span>
                    </p>
                {% endif %}
                <div class="clear"> </div>
            </div><!-- basic-info //-->

            <div class="section section-work">
                <h2 class="title">{% trans %}Experiență în muncă{% endtrans %}</h2>
                <div class="set">
                    <div class="item">

                        <h3>{% if cv.companyname %}<span class="company l">{{ cv.companyname }} {% endif %}</span>
                            {% if cv.startdatework %}<span class="date r">{{ cv.startdatework }}{% endif %} {% if cv.enddatework %}&mdash; <span>{{ cv.enddatework }}</span> {% endif %}</span>
                        </h3>
                        <span class="clear"> </span>
                        {% if cv.jobtitle %}<span class="job_title">{{ cv.jobtitle }}</span>{% endif %} {% if cv.otherinformationwork %}<span class="info">{{ cv.otherinformationwork }}</span>{% endif %}<span class="clear"> </span>
                    </div>

                    <div class="item">

                        <h3>{% if cv.companynamenew %}<span class="company l">{{ cv.companynamenew }} {% endif %}</span>
                            {% if cv.startdateworknew %}<span class="date r">{{ cv.startdateworknew }}{% endif %} {% if cv.enddateworknew %}&mdash; <span>{{ cv.enddateworknew }}</span> {% endif %}</span>
                        </h3>
                        <span class="clear"> </span>
                        {% if cv.jobtitlenew %}<span class="job_title">{{ cv.jobtitlenew }}</span>{% endif %} {% if cv.otherinformationworknew %}<span class="info">{{ cv.otherinformationworknew }}</span>{% endif %}<span class="clear"> </span>
                    </div>
                </div>
            </div>

            {% if cv.qualifications %}
                <div class="section section-qualifications">
                    <h2 class="title">{% trans %}Calificări{% endtrans %}</h2>
                    <div class="set">
                        <div class="item">
                            <span class="info">{{ cv.qualifications }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="section section-education">
                <h2 class="title">{% trans %}Educație{% endtrans %}</h2>
                <div class="set">
                    <div class="item">
                        <h3> {% if cv.specialization  %}<span class="course l">{{ cv.specialization }}</span>{% endif %}
                            {% if cv.startdatelearn %}<span class="date r">{{ cv.startdatelearn }} {% endif %} {% if cv.enddatelearn %} &mdash; <span>{{ cv.enddatelearn }}</span></span> {% endif %}
                        </h3>
                        <span class="clear"> </span>
                        {% if cv.institutionname %}<span class="school">{{ cv.institutionname }}</span>{% endif %} {% if cv.otherinformationeducation  %}<span class="info">{{ cv.otherinformationeducation }}</span>{% endif %}<span class="clear"> </span>
                    </div>

                    <div class="item">
                        <h3> {% if cv.specializationnew  %}<span class="course l">{{ cv.specializationnew }}</span>{% endif %}
                            {% if cv.startdatelearnnew %}<span class="date r">{{ cv.startdatelearnnew }} {% endif %} {% if cv.enddatelearnnew %} &mdash; <span>{{ cv.enddatelearnnew }}</span></span> {% endif %}
                        </h3>
                        <span class="clear"> </span>
                        {% if cv.institutionnamenew %}<span class="school">{{ cv.institutionnamenew }}</span>{% endif %} {% if cv.otherinformationeducationnew  %}<span class="info">{{ cv.otherinformationeducationnew }}</span>{% endif %}<span class="clear"> </span>
                    </div>
                </div>
            </div>

            {% if cv.interests  %}
                <div class="section section-interests">
                    <h2 class="title">{% trans %}Interese{% endtrans %}</h2>
                    <div class="set">
                        <div class="item">
                            <span class="info">{{ cv.interests }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if cv.competence %}
                <div class="section section-references">
                    <h2 class="title">{% trans %}Referințe{% endtrans %}</h2>
                    <div class="set">
                        <div class="item">
                            <span class="info">{{ cv.competence }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if cv.newsection1 %}
                <div class="section section">
                    <h2 class="title">{{ cv.newsection1name }}</h2>
                    <div class="set">
                        <div class="item">
                            <span class="info">{{ cv.newsection1 }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if cv.newsection2 %}
                <div class="section section">
                    <h2 class="title">{{ cv.newsection2name }}</h2>
                    <div class="set">
                        <div class="item">
                            <span class="info">{{ cv.newsection2 }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if cv.newsection3 %}
                <div class="section section">
                    <h2 class="title">{{ cv.newsection3name }}</h2>
                    <div class="set">
                        <div class="item">
                            <span class="info">{{ cv.newsection3 }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
</body>

</html>