{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}
<div class="background-index">
    <div class="container">
        <div class="row">
            <h1><b>Rezultatul cautarii</b></h1>
            <table width="100%" >
                {% for cv in resume %}

                    <h3 class="title-vacancies">ULTIME CV</h3>
                    <tr class="border-index">
                        <td>
                            <img src="{{ cv.getWebPath | imagine_filter('my_thumb') }}">
                        </td>

                        <td>
                            <h3><b>{{ cv.name }}</b></h3>
                            <span class="">
                                {{ cv.jobtitle }} <br/>
                                {{ cv.companyname }}
                            </span>
                        </td>

                        <td>
                            <h3 style="padding-bottom: 36px;">{{ cv.city }}</h3>
                        </td>

                        <td>
                            <h3>{{ cv.specialization }}</h3>
                            <br>
                            <small>{% trans with {'%date%': cv.createdat|date('m/d/Y')} %}posted on %date%{% endtrans %}</small>
                        </td>

                        <td>
                            <div class="width-favorite-message">
                                <div class="header-position">
                                    <div class="favorite"></div>
                                    <div class="message"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}