{% extends 'IbwJobMBundle::layout.html.twig' %}


{% block content %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52999e902a24ef80" async="async"></script>

    {{ parent() }}


    <div class="modal fade" id="show-create-cv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Închide{% endtrans %}</span></button>
                    <label>{% trans %}Numele cv-ului{% endtrans %}</label>
                </div>
                <div class="modal-body">
                    <form action="{{ path ('ibw_cv_create') }}" method="post">
                        <div class="col-xs-9">
                            <input type="text" name="title" class="form-control">
                        </div>
                        <div class="col-xs-3">
                            <button type="submit" class="btn btn-black button-active">{% trans %}Creează CV-ul {% endtrans %}</button>
                        </div>
                        <label class="select-language">{% trans %}Limbă{% endtrans %}</label>
                        <div class="col-xs-12">
                            <select name="lang">
                                <option value="en">
                                    English
                                </option>
                                <option value="ru">
                                    Pусский
                                </option>
                                <option value="ro">
                                    Română
                                </option>
                            </select>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <h1>{% trans %}CV-urile mele:{% endtrans %}</h1>

        <div class="row">
            <table class="table table-hover">
                <tr>
                    <th>
                        {% trans %}Numele{% endtrans %}
                    </th>
                    <th>
                        {% trans %}Ultima modificare{% endtrans %}
                    </th>
                    <th colspan="6" class="text-right">
                        {% trans %}Opțiuni{% endtrans %}
                    </th>
                </tr>
                {% for cv in user %}
                    <tr>
                        <td>
                            <a href="{{ path ('ibw_cv_edit',{'token': cv.token}) }}">{{ cv.cvname }} </a>
                        </td>
                        <td>
                            {{ cv.updatedat|date('m/d/Y, H:i:s') }}
                        </td>
                        {#<td>#}
                            {#{% if cv.language == 'en' %}#}
                                {#English#}
                            {#{% elseif cv.language == 'ru' %}#}
                                {#Pусский#}
                            {#{% else %}#}
                                {#Român#}
                            {#{% endif %}#}
                        {#</td>#}
                        <td>
                            <button class="btn btn-default add-color" type="button"  id="moreInputs" data-toggle="modal" data-target="#{{ cv.id }}1"><span class="glyphicon glyphicon-search"></span>&nbsp;{% trans %}Vizualizează{% endtrans %}</button>

                            <div class="modal fade bs-example-modal-lg" id="{{ cv.id }}1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Închide{% endtrans %}</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="main">
                                                {% if cv.logo %}
                                                    <div id="photo">
                                                        {#<img src="{{ cv.getWebPath  }}">#}
                                                        <img src="{{ cv.getWebPath | imagine_filter('my_thumb')}}">
                                                    </div>
                                                {% endif %}
                                                <div class="header photo">
                                                    {% if cv.name %}
                                                        <h1 id="title">{{ cv.name }}</h1>
                                                    {% endif %}
                                                </div>
                                                <div class="basic-info section">
                                                    {% if cv.email %}
                                                        {% if cv.language == "en" %}
                                                            <p class="email"><label>E-mail<span class="colon">:</span></label> <span class="value" id="cv_emailModal">{{ cv.email }}</span></p>
                                                        {% elseif cv.language == "ru" %}
                                                            <p class="email"><label>E-mail адрес<span class="colon">:</span></label> <span class="value" id="cv_emailModal">{{ cv.email }}</span></p>
                                                        {% else %}
                                                            <p class="email"><label>Adresă de e-mail<span class="colon">:</span></label> <span class="value" id="cv_emailModal">{{ cv.email }}</span></p>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if cv.websites %}
                                                        {% if cv.language == "en" %}
                                                            <p class="website"><label>Website<span class="colon">:</span></label> <span class="value" id="cv_websitesModal">{{ cv.websites }}</span></p>
                                                        {% elseif cv.language == "ru" %}
                                                            <p class="website"><label>Сайты<span class="colon">:</span></label> <span class="value" id="cv_websitesModal">{{ cv.websites }}</span></p>
                                                        {% else %}
                                                            <p class="website"><label>Website<span class="colon">:</span></label> <span class="value" id="cv_websitesModal">{{ cv.websites }}</span></p>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if cv.phone %}
                                                        {% if cv.language == "en" %}
                                                            <p class="phone"><label>Phone<span class="colon">:</span></label> <span class="value" id="cv_phoneModal">{{ cv.phone }}</span></p>
                                                        {% elseif cv.language == "ru" %}
                                                            <p class="phone"><label>Номер телефона<span class="colon">:</span></label> <span class="value" id="cv_phoneModal">{{ cv.phone }}</span></p>
                                                        {% else %}
                                                            <p class="phone"><label>Telefon<span class="colon">:</span></label> <span class="value" id="cv_phoneModal">{{ cv.phone }}</span></p>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if (cv.street) or (cv.city) or (cv.country) %}
                                                        {% if cv.language == "en" %}
                                                            <p class="address"><label>Adress<span class="colon">:</span></label>
                                                             <span class="value">
                                                            <span id ="cv_addressstreetModal">{{ cv.street }}</span>  <br />  <span id="cv_addresscityModal">{{ cv.city }}</span> <br /><span id="cv_addresscountryModal">{{ cv.country }}</span></span>
                                                            </p>
                                                        {% elseif cv.language == "ru" %}
                                                            <p class="address"><label>Адрес<span class="colon">:</span></label>
                                                             <span class="value">
                                                            <span id ="cv_addressstreetModal">{{ cv.street }}</span>  <br />  <span id="cv_addresscityModal">{{ cv.city }}</span> <br /><span id="cv_addresscountryModal">{{ cv.country }}</span></span>
                                                            </p>
                                                        {% else %}
                                                            <p class="address"><label>Adresă<span class="colon">:</span></label>
                                                             <span class="value">
                                                            <span id ="cv_addressstreetModal">{{ cv.street }}</span>  <br />  <span id="cv_addresscityModal">{{ cv.city }}</span> <br /><span id="cv_addresscountryModal">{{ cv.country }}</span></span>
                                                            </p>
                                                        {% endif %}
                                                    {% endif %}
                                                    <div class="clear"> </div>
                                                </div><!-- basic-info //-->

                                                <div class="section section-work">
                                                    {% if cv.language == "en" %}
                                                        <h2 class="title">Work experience</h2>
                                                    {% elseif cv.language == "ru" %}
                                                        <h2 class="title">Опыт работы</h2>
                                                    {% else %}
                                                        <h2 class="title">Experiență în muncă</h2>
                                                    {% endif %}
                                                    <div class="set">
                                                        <div class="item">

                                                            <h3>{% if cv.companyname %}<span class="company l " id="cv_companynameModal">{{ cv.companyname }} {% endif %}</span>
                                                                {% if cv.startdatework %}<span class="date r" id="cv_startdateworkModal">{{ cv.startdatework }}{% endif %} {% if cv.enddatework %}&mdash; <span id="cv_enddateworkModal" >{{ cv.enddatework }}</span> {% endif %}</span>
                                                            </h3>
                                                            <span class="clear"> </span>
                                                            {% if cv.jobtitle %}<span class="job_title" id="cv_jobtitleModal">{{ cv.jobtitle }}</span>{% endif %} {% if cv.otherinformationwork %}<span class="info" id="cv_otherinformationworkModal">{{ cv.otherinformationwork }}</span>{% endif %}<span class="clear"> </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                {% if cv.qualifications %}
                                                    <div class="section section-qualifications">
                                                        {% if cv.language == "en" %}
                                                            <h2 class="title">Qualifications</h2>
                                                        {% elseif cv.language == "ru" %}
                                                            <h2 class="title">Квалификация</h2>
                                                        {% else %}
                                                            <h2 class="title">Calificări</h2>
                                                        {% endif %}
                                                        <div class="set">
                                                            <div class="item">
                                                                <span class="info" id="cv_qualificationsModal">{{ cv.qualifications }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                <div class="section section-education">
                                                    {% if cv.language == "en" %}
                                                        <h2 class="title">Education</h2>
                                                    {% elseif cv.language == "ru" %}
                                                        <h2 class="title">Образование</h2>
                                                    {% else %}
                                                        <h2 class="title">Educație</h2>
                                                    {% endif %}
                                                    <div class="set">
                                                        <div class="item">
                                                            <h3> {% if cv.specialization  %}<span class="course l" id="cv_specializationModal">{{ cv.specialization }}</span>{% endif %}
                                                                {% if cv.startdatelearn %}<span class="date r" id="cv_startdatelearnModal">{{ cv.startdatelearn }} {% endif %} {% if cv.enddatelearn %} &mdash; <span id="cv_enddatelearnModal">{{ cv.enddatelearn }}</span></span> {% endif %}
                                                            </h3>
                                                            <span class="clear"> </span>
                                                            {% if cv.institutionname %}<span class="school" id="cv_institutionnameModal">{{ cv.institutionname }}</span>{% endif %} {% if cv.otherinformationeducation  %}<span class="info" id="cv_otherinformationeducationModal">{{ cv.otherinformationeducation }}</span>{% endif %}<span class="clear"> </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                {% if cv.skills  %}
                                                    <div class="section section-skills">
                                                        {% if cv.language == "en" %}
                                                            <h2 class="title">Skills</h2>
                                                        {% elseif cv.language == "ru" %}
                                                            <h2 class="title">Навыки</h2>
                                                        {% else %}
                                                            <h2 class="title">Competențe</h2>
                                                        {% endif %}
                                                        <div class="set">
                                                            <div class="item">
                                                                <span class="info" id="cv_skillsModal">{{ cv.skills }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if cv.competence %}
                                                    <div class="section section-references">
                                                        {% if cv.language == "en" %}
                                                            <h2 class="title">Competence</h2>
                                                        {% elseif cv.language == "ru" %}
                                                            <h2 class="title">Рекомендации</h2>
                                                        {% else %}
                                                            <h2 class="title">Referințe</h2>
                                                        {% endif %}
                                                        <div class="set">
                                                            <div class="item">
                                                                <span class="info" id="cv_competenceModal">{{ cv.competence }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if cv.newsection1 %}
                                                    <div class="section section">
                                                        <h2 class="title">{{ cv.newsection1name }}</h2>
                                                        <div class="set">
                                                            <div class="item">
                                                                <span class="info" id="cv_newsection1Modal">{{ cv.newsection1 }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if cv.newsection2 %}
                                                    <div class="section section">
                                                        <h2 class="title">{{ cv.newsection2name }}</h2>
                                                        <div class="set">
                                                            <div class="item">
                                                                <span class="info" id="cv_newsection2Modal">{{ cv.newsection2 }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if cv.newsection3 %}
                                                    <div class="section section">
                                                        <h2 class="title">{{ cv.newsection3name }}</h2>
                                                        <div class="set">
                                                            <div class="item">
                                                                <span class="info" id="cv_newsection3Modal">{{ cv.newsection3 }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-default add-color" id="moreInputs" data-toggle="modal" data-target="#{{ cv.id }}"><span class="fa fa-rss"></span>&nbsp;{% trans %}Distribuie{% endtrans %}</button>

                            <div class="modal fade" id="{{ cv.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span  aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Închide{% endtrans %}</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <label>{% trans %}URL pentru distribuire{% endtrans %}</label>
                                            {#<input type="text" class="form-control" value="http://jobplus.md/{{ app.request.get('_locale') }}/cv/{{ cv.token }}">#}
                                            <input type="text" class="form-control" value="http://jobplus.md/{{ cv.language }}/cv/{{ cv.token }}">
                                            <div class="col-md-12">
                                                {#<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki" data-yashareTheme="counter"></div>#}
                                                {#<script type="IN/Share" data-counter="right"></script>#}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default add-color" data-dismiss="modal">{% trans %}OK{% endtrans %}</button>
                                            <button type="button" class="btn btn-default add-color" data-dismiss="modal">{% trans %}Anulează{% endtrans %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td class="dropdown">
                            <a href="#" class="dropdown-toggle btn-light" data-toggle="dropdown">
                                <button class="btn btn-default add-color"><span  class="fa fa-download"></span>&nbsp;{% trans %}Descarcă{% endtrans %}</button>
                            </a>
                            <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path ('ibw_cv_download_pdf',{'token': cv.token}) }}">{% trans %}Descarcă{% endtrans %} pdf</a></li>

                                <li><a href="{{ path ('ibw_cv_download_doc',{'token': cv.token}) }}">{% trans %}Descarcă{% endtrans %} doc</a></li>

                                <li><a href="{{ path ('ibw_cv_download_html',{'token': cv.token}) }}">{% trans %}Descarcă{% endtrans %} html</a></li>
                            </ul>
                        </td>
                        <td>
                            <a href="{{ path ('ibw_cv_copy', {'token': cv.token}) }}">
                                <button class="btn btn-default add-color"><span class="fa fa-file-text-o"></span>&nbsp;{% trans %}Copiază{% endtrans %} </button>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path ('ibw_cv_rename', {'token': cv.token}) }}">
                                <button class="btn btn-default add-color"><span class="fa fa-pencil-square-o"></span>&nbsp;{% trans %}Redenumește{% endtrans %}</button>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path ('ibw_cv_delete', {'token': cv.token}) }}">
                                <button class="btn btn-default add-color"><span class="glyphicon glyphicon-trash"></span>&nbsp;{% trans %}Șterge{% endtrans %}</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>


        <button type="button" class="btn btn-black button-active" id="moreInputs" data-toggle="modal" data-target="#show-create-cv" style="width: 170px; font-size: 20px">{% trans %}Creează CV-ul{% endtrans %}</button>
    </div>
{% endblock %}

