{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block body -%}
       <!-- form -->
    <form class="form-horizontal" role="form">
        <div class="text-center margin_top">
            Company details
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="text" name="company_name" class="toggle-popover form-control" id="inputCompanyName" placeholder="Company Name" autofocus required required data-toggle="tooltip" data-placement="top" title="Bla-bla-bla-bla bla bla-bla-bla">
            </div>
        </div>

        <div class="text-center margin_top">
            User Details company
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="text" class="toggle-popover form-control" id="inputFirstName" placeholder="First Name" autofocus required data-toggle="tooltip" data-placement="top" title="Bla-bla-bla-bla bla bla-bla-bla" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="text" class="toggle-popover form-control" id="inputLastName" placeholder="Last Name" required data-toggle="tooltip" data-placement="top" title="Bla-bla-bla-bla bla bla-bla-bla">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="email" class="toggle-popover form-control" placeholder="Email" autofocus required id="inputEmail"  data-toggle="tooltip" data-placement="top" title="Your'll be asked to verify your email later. Your email is never shown on your job positions.">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="password" class="toggle-popover form-control" id="inputPassword3" placeholder="Password" required data-toggle="tooltip" data-placement="top" title="Bla-bla-bla-bla bla bla-bla-bla">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="password" class="toggle-popover form-control" id="inputPasswordConfirm" placeholder="Confirm Password" required data-toggle="tooltip" data-placement="top" title="Bla-bla-bla-bla bla bla-bla-bla">
            </div>
        </div>
        <!-- checkbox -->
        <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10 text-left">
                <div class="checkbox">

                    <input type="checkbox"> I agree to <span class="toggle-conditions">conditions of jobmatch.md</span>
                    <!-- conditions -->
                    <div class="conditions">
                        <h3>Terms & Conditions</h3>
                        <h4>Read this text before signup.</h4>
                        <p>By using our website you agree to be legally bound by these terms,...
                            The particular task to be addressed through the current assignment will be to provide  consular  information  and  advice  to  Moldovan and foreign nationals  abroad in a professional manner; refer the cases, if necessary, to relevant institutions and follow-up on their actions; record, systematize all incoming inquiries and provide follow-up services; draft monthly reports on the work of the hotline; keep updated with the consular affairs issues/legal framework and participate in training programs.

                            The key deliverables will include consultancy/advice on consular issues provided to Call Center clients for 8 hours during every working day; monthly activity reports, including toll-free line success stories and lessons learned. 	</p>
                    </div>
                    <!-- conditions end -->
                    </span>

                </div>
            </div>
        </div>
        <!-- checkbox end-->
        <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <button type="submit" class="btn-big-green btn form-control col-xs-12 col-sm-12 col-md-12 col-lg-12">Sign Up</button>
            </div>
        </div>

    </form>
{% endblock %}
