{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block body -%}

<form class="form-horizontal" role="form" action="registration" method="POST">
    <div class="text-center">

        <div class="text-center margin_top">
            User Details
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="text" name="first_name" class="toggle-popover form-control" id="inputFirstName" placeholder="First Name" autofocus required data-toggle="tooltip" data-placement="top" title="Bla-bla-bla-bla bla bla-bla-bla" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="text" name="last_name" class="toggle-popover form-control" id="inputLastName" placeholder="Last Name" required data-toggle="tooltip" data-placement="top" title="Bla-bla-bla-bla bla bla-bla-bla">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="email" name="email" class="toggle-popover form-control" placeholder="Email" autofocus required id="inputEmail"  data-toggle="tooltip" data-placement="top" title="Your'll be asked to verify your email later. Your email is never shown on your job positions.">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="password" name="password" class="toggle-popover form-control" id="inputPassword3" placeholder="Password" required data-toggle="tooltip" data-placement="top" title="Bla-bla-bla-bla bla bla-bla-bla">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="password" name="config_password" class="toggle-popover form-control" id="inputPasswordConfirm" placeholder="Confirm Password" required data-toggle="tooltip" data-placement="top" title="Bla-bla-bla-bla bla bla-bla-bla">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <button type="submit" class="btn-big-green btn form-control col-xs-12 col-sm-12 col-md-12 col-lg-12">Sign Up</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}								