{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}
    <div class="profile-color">
        <div class="container">
            <h1>Messages:</h1>
            <div class="row">
                <div class="col-xs-2">
                    <img src="{{ asset('bundles/ibwjobm/images/adidas.png')}}">


                </div>
                <div class="col-xs-10">
                    <b style="font-size: 23px">Steve Jobs</b>
                    <p>Manager of Apple</p>
                    {#<p>Apple</p>#}
                    <p>Chisinau</p>
                    {#</div>#}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-right">

                    <h3><b>Hello bill</b></h3> <br/>
                    {% for mess in messages %}

                    <div style="margin: 10px 0px;">{{ mess.messages }}</div>
                        <div class="border-index"></div>

                    {% endfor %}
                </div>

                <div class="col-xs-12">
                    {{ form_start(form, {'method': 'POST', 'action': path('individual_messages')}) }}

                        <h4> {% trans %}New Messages{% endtrans %}</h4>
                        <div class="col-xs-12">
                            {{ form_label(form.messages) }}

                            {{ form_errors(form.messages) }}
                            {{ form_widget(form.messages) }}
                        </div>

                        <div class="col-xs-12 text-right">
                            <button class="btn btn-black button-inactive"  type="submit"> {% trans %}Send{% endtrans %}</button>
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
