{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}
    <div class="profile-color">
        <div class="container">
        <h1>Messages:</h1>
            <div class="border-index">
                <div class="row">
                    <div class="col-xs-6">
                        {#<div class="border-index">#}
                            <img src="{{ asset('bundles/ibwjobm/images/adidas.png')}}">

                            <b style="font-size: 23px">Steve Jobs</b>

                                <p>Manager</p>
                                <p>Apple</p>
                                <p>Chisinau</p>
                        {#</div>#}
                    </div>
                    <div class="col-xs-6">
                        <a href="{{ path('individual_messages') }}">
                            <h3>hello bil</h3> <br/>
                            dfghdfhdfghsdghdsghdfghdfgh
                        </a>
                    </div>
                </div>
            </div>
            <div class="border-index">
                <div class="row">
                    <div class="col-xs-6">
                        {#<div class="border-index">#}
                        <img src="{{ asset('bundles/ibwjobm/images/adidas.png')}}">

                        <b style="font-size: 23px">Steve Jobs</b>

                        <p>Manager</p>
                        <p>Apple</p>
                        <p>Chisinau</p>
                        {#</div>#}
                    </div>
                    <div class="col-xs-6">
                        <a href="">
                            <h3>hello bil</h3> <br/>
                            dfghdfhdfghsdghdsghdfghdfgh
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
