{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}
<div class="profile-color">
    <div class="container">
        <div class="container-fluid" style="margin-bottom: 30px;">
            <div class="row" style="padding-top: 50px;">
                <div class="col-xs-3">
                    <img src="{{ asset('bundles/ibwjobm/images/adidas.png') }}"> <br/>
                    <div>
                        <div class="header-position">
                            <div class="favorite"></div>
                            <div class="message"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div style="margin-bottom: 20px;">
                        <span style="font-size: 40px;">Olga</span> <br/>
                        <span style="font-size: 25px;">Lawyer SRL</span> <br/>
                        <span style="font-size: 16px;">Chisinau, Moldova</span>
                    </div>
                    <div>
                        Previous: Consultant
                    </div>
                    <div style="margin-bottom: 40px;">
                        Education: USM
                    </div>
                    <div class="">
                        <b style="font-size: 16px">Resumes & Files:</b> My Cv(English)
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="about-user">
                    About Me:
                </div>
                <div class="user-summary">
                    <span class="glyphicon glyphicon-file"></span> Summary
                </div>
                <div class="summary-content">
                    dfsadgfdasghasgnjvlasd;sdgn;alsdgf
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="user-professional-background">
                    Professional background:
                </div>
                <div class="user-summary">
                    <span class="glyphicon glyphicon-user"></span> Experience
                </div>
                <div class="professional-content">
                    <span class="job-experience-title"><b>Lawyer</b></span> <br/>
                    <span class="company-experience-title">Agro SRL</span>
                    <div class="small-date">
                        March 2011 - June 2013, Chisinau. Moldova
                    </div>
                    dfsadgfdasghasgnjvlasd;sdgn;alsdgf
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="education">
                    Education:
                </div>
                <div class="user-education">
                    <span class="fa fa-graduation-cap"></span> University:
                </div>
                <div class="education-content">
                    <span class="university-title"><b>State University of Moldova</b></span> <br/>
                    <span class="university-location">Chisinau, Moldova</span>
                    <div class="small-date">
                        March 2011 - June 2013, Chisinau. Moldova
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="language-user">
                    Languages and Skills
                </div>
                <div class="language-spoken">
                    <span class="glyphicon glyphicon-globe"></span> Languages:
                </div>
                <div class="languages-content">
                    <span class="lang-spok-user">
                        Russian:
                    </span><br/>
                    <span class="spoken-nivel">basic </span>
                </div>
                <div class="user-skills">
                    <span class="glyphicon glyphicon-pencil"></span> Skills:
                </div>
                <span class="skills-list">
                    <span class="single-skills"> Design</span>
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="additional-info">
                    Additional information:
                </div>
                <div class="user-info-content">
                    <span class="user-information">
                        <b>Birthdate:</b> December 15, 1990
                    </span>
                        <div class="line-user"></div>
                    <br/>
                    <span class="user-information">
                        <b>Martial status:</b>  Single
                    </span>
                        <div class="line-user"></div>
                    <br/>
                    <span class="user-information">
                        <b>Interests:</b> fishing
                    </span>
                    <div class="line-user"></div>
                    <br/>
                    <span class="user-information">
                        <b>Other information:</b> asfdasgasrgasgasgrasrgtasrtgasrtg
                    </span>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="contact-info">
                    Contact information:
                </div>
                <div class="user-contact-content">
                    <span class="user-contact-detail">
                        <i class="fa fa-envelope-o"></i>&nbsp;<b>Email:</b> 1@mail.ru
                    </span>
                        <div class="line-user"></div>
                    <br/>
                    <span class="user-contact-detail">
                        <i class="fa fa-phone"></i>&nbsp;&nbsp;<b>Phone:</b>  +373 22-111-222
                    </span>
                        <div class="line-user"></div>
                    <br/>
                    <span class="user-contact-detail">
                        <i class="fa fa-mobile"></i>&nbsp;&nbsp;&nbsp;<b>Mobile phone:</b> +373 69-00-11-22
                    </span>
                        <div class="line-user"></div>
                    <br/>
                    <span class="user-contact-detail">
                        <i class="fa fa-skype"></i>&nbsp;<b>Skype:</b> alex.alex
                    </span>
                        <div class="line-user"></div>
                    <br/>
                    <span class="user-contact-detail">
                        <i class="fa fa-twitter"></i>&nbsp;<b>Twitter:</b> alex.twitter
                    </span>
                        <div class="line-user"></div>
                    <br/>
                    <span class="user-contact-detail">
                        <i class="fa fa-facebook"></i>&nbsp;&nbsp;<b>Facebook page:</b> alex.facebook
                    </span>
                        <div class="line-user"></div>
                    <br/>
                    <span class="user-contact-detail">
                        <i class="fa fa-linkedin"></i>&nbsp;<b>LinkedIn page:</b> alex.linkedIn
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
