{% extends 'IbwJobMBundle::layout.html.twig' %}

{% block content %}

    <div>
        {% for candidate in candidates %}
            <h4>{{ candidate.candidateemail }}</h4>
        {% endfor %}
    </div>

    {{ form_row(form1.candidate_email) }}

    {{ form_row(form2.candidate_name) }}
{% endblock %}
